@use "variables" as *;

#cart-summary-products {
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-md);
	}
}

#cart-summary-products-list {
	display: flex;
	flex-direction: column;
	//gap: var(--spacing-3xs);
}

.cart-item-product {
	container: cart-item-product / inline-size;
	display: flex;
	flex-direction: row;
	gap: var(--spacing-sm);
	padding: var(--spacing-sm);
	border-block-start: var(--thickness-sm) solid var(--color-border-light);
	&:last-of-type {
		border-block-end: var(--thickness-sm) solid var(--color-border-light);
	}
}
.cart-item-thumbnail {
	width: 100%;
	max-width: var(--spacing-3xl);
	height: var(--spacing-3xl);
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.cart-item-details {
	display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;

  .cart-item-headline {
  	justify-self: stretch;
  	grid-column: 1 / span 2;
  	grid-row: 1;
  }
  .cart-item-subtotal {
	  grid-row: 1;
	  grid-column: 3;
	  justify-self: end; 
	  align-content: center;  	
  }  
  .cart-item-savings {
	  grid-row: 2;
	  grid-column: 2 / span 2;
	  justify-self: end;
  }
  .cart-item-controls {
	  grid-row: 2;
	  grid-column: 1;
	  justify-self: start;  	
  }  
}

.cart-item-headline,
.cart-item-controls {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-sm);
	align-items: center;
}

.cart-item-headline {
	.cart-item-headline-productName {
		flex: 1;
		font-size: var(--size-md);
		font-weight: var(--weight-regular);
		line-height: 1;
		color: var(--color-text-primary);
		margin-bottom: 0;

		a {
			text-decoration-color: transparent;
			text-underline-offset: var(--spacing-3xs);
			transition: var(--transition-md); 
			&:hover {
				text-decoration-color: var(--color-brand-secondary);
			}
		}
	}
}

.cart-item-savings {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: var(--spacing-2xs);
	@container cart-item-product (width > #{$screen-xs}) {
		flex-direction: row-reverse;
		align-items: center;
		flex: 2;
	}

	.cart-item-pricing-savings > .badge {
		font-size: var(--size-xs);
		@container cart-item-product (width <= #{$screen-xs}) {
			margin-inline-end: calc(var(--spacing-xs) * -1);
		}		
	}
	.cart-item-pricing-rrp{
		font-size: var(--size-xs);
		line-height: 1em;
		color: var(--color-text-tertiary);
	}
}

.cart-item-subtotal {
	flex: 1;
	text-align: right;
	font-size: var(--size-lg);
	font-weight: var(--weight-regular);
	line-height: 1;
	color: var(--color-text-secondary);				
}