#cart-overlay-items {
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-md);
	}

	#cart-products {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-3xs);

		.cart-item-product {
			display: flex;
			flex-direction: row;
			gap: var(--spacing-sm);
			padding: var(--spacing-sm);
			border-block-start: var(--thickness-sm) solid var(--color-border-light);
			border-block-end: var(--thickness-sm) solid var(--color-border-light);
		}
		.cart-item-thumbnail {
			width: 100%;
			max-width: var(--spacing-3xl);
			height: var(--spacing-3xl);
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		.cart-item-details {
			display: flex;
			flex-direction: column;
			gap: var(--spacing-sm);
			flex: 1;
		}

		.cart-item-headline,
		.cart-item-controls {
			display: flex;
			flex-direction: row;
			gap: var(--spacing-sm);
			align-items: center;
		}

		.cart-item-headline {
			.cart-item-headline-productName {
				flex: 1;
				font-size: var(--size-md);
				font-weight: var(--weight-bold);
				line-height: 1;
				color: var(--color-text-primary);
				margin-bottom: 0;

				a {
					text-decoration-color: transparent;
					text-underline-offset: var(--spacing-3xs);
					transition: var(--transition-md); 
					&:hover {
						text-decoration-color: var(--color-brand-secondary);
					}
				}
			}
		}

		.cart-item-pricing {
			display: flex;
			flex-direction: column;
			align-items: center;

			flex: 2;

			.cart-item-pricing-savings > .badge {
				font-size: var(--size-xs);
			}
			.cart-item-pricing-rrp{
				font-size: var(--size-xs);
				color: var(--color-text-tertiary);
			}
		}

		.cart-item-controls {
			.cart-item-subtotal {
				flex: 1;
				text-align: right;
				font-size: var(--size-lg);
				font-weight: var(--weight-bold);
				line-height: 1;
				color: var(--color-text-secondary);				
			}
		}
	}
}