// For screen reader only text
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


a.skiplink {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 100%;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;    
  }
  &:focus {
    display: flex;
    background: yellow;
    width: 100%;
    font-size: var(--size-lg);
    font-weight: var(--weight-regular);
    padding: var(--spacing-md);
  }
}