.accordion {
	details {
		border-top: var(--thickness-sm) solid var(--color-border-default);
		border-bottom: var(--thickness-sm) solid var(--color-border-default);
		padding-inline-start: var(--spacing-sm);	
		padding-inline-end: var(--spacing-sm);
		padding-top: var(--spacing-sm);
		padding-bottom: var(--spacing-sm);
		transition: var(--transition-md);

		font-size: var(--size-sm);

		summary {
			color: var(--color-text-tertiary);
			& > * {
				margin-inline-start: var(--spacing-3xs);
			}
			&:marker {
				color: green;
			}

			h2, h3 {
				display: inline-block;
				margin-bottom: 0;
				font-size: var(--size-lg);
			}
		}

		&:hover {
			cursor: pointer;
			summary {
				color: var(--color-action-hover);
			}
		}

		&[open] {
			summary {
				color: var(--color-text-primary);
				margin-bottom: var(--spacing-xs);
				& > * {
					font-weight: var(--weight-regular);
				}
			}
		}
	}
}