.accordion {
	details {
		border-top: var(--thickness-sm) solid var(--color-border-default);
		transition: var(--transition-md);
		font-size: var(--size-sm);
		&:last-of-type {
			border-bottom: var(--thickness-sm) solid var(--color-border-default);
		}
		&[open] summary {
			background: var(--color-panel-strong);
		}

		summary {
			color: var(--color-text-tertiary);
			padding: var(--spacing-sm);			
			& + div {
				padding-inline: var(--spacing-sm);
				padding-block: var(--spacing-sm);
			}

			h2, h3 {
				display: inline-block;
				margin-bottom: 0;
				font-size: var(--size-lg);
			}
		}

		&:hover {
			cursor: pointer;
			summary {
				color: var(--color-action-hover);
			}
		}

		&[open] {
			summary {
				color: var(--color-text-primary);
				& > * {
					font-weight: var(--weight-regular);
				}
			}
		}
	}
}