.accordion {
	details {
		border-top: var(--thickness-sm) solid var(--color-border-default);
		transition: var(--transition-md);
		font-size: var(--size-md);
		&:last-of-type {
			border-bottom: var(--thickness-sm) solid var(--color-border-default);
		}
		&[open] summary {
			background: var(--color-panel-strong);
		}

		summary {
			color: var(--color-text-secondary);
			padding: var(--spacing-sm);			
			& + div {
				padding-inline-start: calc( var(--spacing-sm) + 1.15em);
				padding-inline-end: 5vw;
				padding-block-start: 0;
				padding-block-end: var(--spacing-sm);
				max-width: 45rem;
				color: var(--color-text-secondary);
			}

			h2, h3 {
				display: inline-block;
				margin-bottom: 0;
				font-size: var(--size-lg);
				font-weight: var(--weight-regular);
			}
		}

		&:hover {
			cursor: pointer;
			summary {
				color: var(--color-action-hover);
			}
		}

		&[open] {
			summary {
				color: var(--color-brand-primary);
				& > * {
					font-weight: var(--weight-bold);
				}
			}
		}
	}
}