@use "variables" as *;

.badge {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--spacing-2xs);
	align-items: center;
	align-self: start;

	font-size: var(--size-sm);
	line-height: 1;
	font-weight: var(--weight-bold);
	color: var(--color-text-primary);
	text-transform: uppercase; 

	padding-block: var(--spacing-2xs);
	padding-inline: var(--spacing-xs);
	border: 2px solid transparent;
	border-radius: var(--radius-sm);

	svg > * {
		fill: var(--color-text-primary);
	}

	&.badge-positive {
		background: var(--color-core-100);
		color: var(--color-brand-primary);
		border-color: var(--color-brand-primary);
		svg > * {
			fill: var(--color-brand-primary);
		}		
	}	
	&.badge-excitement {
		background: var(--color-core-200);
		color: var(--color-text-primary);
		border-color: transparent;
		svg > * {
			fill: var(--color-text-primary);
		}		
	}
	&.badge-information {
		background: transparent;
		color: var(--color-text-tertiary); 
		border-color: var(--color-border-default);
		svg > * {
			fill: var(--color-text-tertiary);
		}
	}
	&.badge-naked {
		background: transparent;
		color: var(--color-text-tertiary);
		border-width: 0;
		border-color: transparent;		
		padding-inline: var(--spacing-xs);
		svg > * {
			fill: var(--color-text-tertiary);
		}				
	}

	&.badge-icon {
		padding-inline-start: calc(var(--spacing-xs) - var(--spacing-3xs));
		.icon, 
		svg {
			width: 1em;
			height: 1em;
		}
	}

	&.badge-tally {
		background: var(--color-core-600);
		color: var(--color-white);
		border: var(--thickness-md) solid var(--color-white);
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		box-shadow: var(--boxShadow-sm);
		flex: 0 0 auto;
		justify-content: center;
		inline-size: calc(var(--spacing-md) + var(--spacing-sm));
		  block-size: calc(var(--spacing-md) + var(--spacing-sm));
		  padding: 0;
		&[hidden] {
			display: none;
		}
	}
	.label {
		white-space: nowrap;
	}
}
