@use "variables" as *;

.banner-ad {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    align-items: center; 
    
    a {
        display: block;
        
        img {
            max-width: 100%;
        }
    }
}