@use "variables" as *;
@use '../fs-styles';

.banner-ad {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    align-items: center; 
    
    a {
        display: block;
        
        img {
            max-width: 100%;
        }
    }
}
.banner-ad.fs-unavailable {
    @include fs-styles.fs-unavailable;
}