@use "variables" as *;
@use '../fs-styles';

nav.breadcrumbs {
    ol {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        overflow-x: clip;
    }
    li {
        line-height: unset;
        font-size: var(--size-sm);
        font-weight: var(--weight-light);
        color: var(--color-text-tertiary);
        text-wrap-mode: nowrap; 
        > .fs-unavailable {
            @include fs-styles.fs-unavailable;
        }
    }
    .active {
        color: var(--color-text-primary);
        font-weight: var(--weight-regular);
    }
    a {
        color: var(--color-brand-primary);
        text-decoration: none;
        transition: var(--transition-sm);

        &:hover {
            color: var(--color-action-hover);
            text-decoration: underline;
        }
    }

}