@use "variables" as *;

.btn {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-xs);

	border: var(--thickness-md) solid transparent;
	border-radius: var(--radius-md);

	font-family: var(--font-sans);
	font-size: var(--size-md);
	font-weight: var(--weight-regular);
	text-align: center;
	text-decoration: none;
	transition: var(--transition-sm);

	padding-block: var(--spacing-xs); 
	padding-inline: var(--spacing-md);


	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
	&:focus {
		outline: var(--thickness-lg) dashed var(--color-focus-ring);
		outline-offset: -1px;
	}

	&.btn-primary {
		background: var(--color-action-primary-default);
		border-width: var(--thickness-md);
		box-shadow: inset 0 0 0 var(--thickness-sm) var(--color-white);
		color: var(--color-action-primary-font);
		
		&:hover {
			background: var(--color-action-primary-hover);
		}
		&:focus {
			border-color: var(--color-white);
		}
		&:active {
			background: var(--color-action-primary-active);
		}
		> svg > *,
    	.icon svg > * {
			fill: var(--color-action-primary-font);
			// stroke: var(--color-action-primary-font);
		}		
	}

	&.btn-secondary {
		background: var(--color-action-secondary-default);
		border-color: transparent;
		color: var(--color-action-secondary-font);
		&:hover {
			background: var(--color-action-secondary-hover);
			color: var(--color-text-primary);
		}
		&:active {
			background: var(--color-action-secondary-active);
		}
		> svg > *,
    	.icon svg > * {
			fill: var(--color-action-secondary-font);
			// stroke: var(--color-action-secondary-font);
		}		
	}

	&.btn-tertiary {
		background: var(--color-action-tertiary-default);
		border-width: var(--thickness-sm);
		border-color: var(--color-action-tertiary-hover);
		color: var(--color-action-tertiary-font);
		&:hover {
			background: var(--color-action-tertiary-hover);
			color: var(--color-text-primary);
		}
		&:focus {
			border-color: var(--color-white);
		}
		&:active {
			background: var(--color-action-tertiary-active);
		}
		> svg > *,
    	.icon svg > * {
			fill: var(--color-action-tertiary-font);
			// stroke: var(--color-action-tertiary-font);
		}	
	}

	&:disabled {
		background: var(--color-action-disabled-default);
		border-color: transparent;
		color: var(--color-action-disabled-font);
		pointer-events: none;
		> svg > *,
    	.icon svg > * {
			fill: var(--color-action-disabled-font);
			// stroke: var(--color-action-disabled-font);
		}		
	}
	&.btn-sm {
		font-size: var(--size-sm);
		padding-block: var(--spacing-xs); 
		padding-inline: var(--spacing-sm);		
	}
	&.btn-lg {
		border-radius: var(--radius-lg);
		font-size: var(--size-lg);
		padding-block: var(--spacing-sm); 
		padding-inline: var(--spacing-lg);		
	}


	&.btn-icon {
		.icon {
		  // line-height: 1em;
	      position: relative;
	      top: .15em;
		}
		> svg,
		.icon > svg {
			width: 1.15em;
			height: unset;
			aspect-ratio: 1 / 1;
			overflow: visible;
		}
		&.btn-iconOnly {
			padding-inline: var(--spacing-sm);
		}
	}
}

#storybook-root > div > .btn {
	justify-self: start;
	align-self: start;
}
