@use "variables" as *;

.btn {
	border: 1px solid var(--color-border-strong);
	border-radius: var(--radius-md);
	background: var(--color-background-subtle);
	font-family: var(--font-sans);
	font-weight: var(--weight-regular);
	text-align: center;
	text-decoration: none;
	transition: var(--transition-sm);

	padding: var(--spacing-sm) var(--spacing-lg);
	font-size: var(--size-md);

	&:hover {
		cursor: pointer;
		background: var(--color-background-emphasized);
		text-decoration: none;
	}

	&.btn-primary {
		background: var(--color-action-brand);
		border-width: var(--thinkness-md);
		color: var(--color-white);
		box-shadow: inset 0 0 0 2px var(--color-white);
		&:hover {
			background: var(--color-text-primary);
		}
	}

	&.btn-secondary {
		background: var(--color-background-default);
		border-color: var(--color-border-strong);
		color: var(--color-text-secondary);
		// box-shadow: inset 0 0 0 2px var(--color-white);
		&:hover {
			background: var(--color-white);
			color: var(--color-text-primary);
		}
	}

	&.btn-tertiary {
		background: var(--color-background-subtle);
		border-color: var(--color-border-default);
		padding-block-start: var(--spacing-sm);
		padding-block-end: var(--spacing-sm);
		color: var(--color-text-tertiary);
		text-decoration: none;
		&:hover {
			background: var(--color-white);
			color: var(--color-text-primary);
			text-decoration: none;
		}
	}
	&.btn-icon {
		background: var(--color-background-subtle);
		border-color: var(--color-border-default);
		padding: var(--spacing-xs);
		aspect-ratio: 1 / 1;
		color: var(--color-text-secondary);
		> svg > * {
			fill: var(--color-text-secondary);
			stroke: var(--color-text-secondary);
		}
		line-height: 0;
		text-decoration: none;
		&:hover {
			background: var(--color-white);
			border-color: var(--color-border-strong);
			text-decoration: none;
		}
		&.btn-variant-recessive {
			svg {
				width: var(--spacing-sm);
			}			
		}
	}
	&.btn-variant-recessive {
		border-color: transparent;
		padding: var(--spacing-2xs);
		svg > * {
			fill: var(--color-text-tertiary);
			stroke: var(--color-text-tertiary);
		}				
	}	
}

