@use "fs-variables" as *;

#main.checkout {
  .page-title {
    margin-block-start: var(--spacing-md);
    margin-block-end: 0;
  }
}

#checkout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "paymentFlow" 
    "orderSummary";
  gap: var(--spacing-md);
  min-height: 100vh;
  @media (min-width: #{$screen-md}) {
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "paymentFlow orderSummary";
    gap: var(--spacing-lg);
  }
  @media (min-width: #{$screen-lg}) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "paymentFlow orderSummary";
    gap: var(--spacing-xl);
  }

	section {
	  position: static;
	  width: 100%;
	}
  section#paymentFlow {
    grid-area: paymentFlow;
    align-self: start;
  }

  section#orderSummary {
    grid-area: orderSummary;
    align-self: start;
    @media (min-width: #{$screen-md}) {
      position: sticky;
      top: 6.5rem;
    }
  }


  #paymentFlow > details > summary {
    h3 {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: var(--spacing-sm);
      align-content: center;
      flex-wrap: wrap;
      height: var(--size-xl);
    }
    .badge[hidden] {
      display: none;
    }
  }


  #cart-summary-products,
  #paymentFlow-payment-options {
    margin-bottom: var(--spacing-sm);
  }

  // Switch the 'checked' icons inside the 'Complete' button inside each section
  #paymentFlow-summary-actions,
  #paymentFlow-shipping-actions,
  #paymentFlow-payment-actions {
    text-align: end;
    .btn {
      justify-self: end;
    }
    .btn-icon[aria-pressed="false"] {
      .check-empty {
        display: unset;
      }
      .check-filled {
        display: none;
      }      
    }
    .btn-icon[aria-pressed="true"] {
      .check-empty {
        display: none;
      }
      .check-filled {
        display: unset;
      }      
    }
  }
  #paymentFlow-payment-actions {
    margin-block-start: var(--spacing-md); 
  }
}