
#paymentOptions-card {
	#cards-accepted {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	#cards-accepted-help {
		text-align: end;
	}

	#exp-slash {
		flex: 0 0 auto;
		border-color: transparent;
		padding-inline-start: 0;
		padding-inline-end: 0;
		width: 1ch;
		pointer-events: none;
	}
}