#checkout {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  min-height: 100vh;

  // Tablet and below
	flex-direction: column;

	section {
	  position: static;
	  width: 100%;
	}

  // Desktop and up
  @media (min-width: 1025px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing-xl);

    section#paymentFlow {
      grid-column: span 8;
      align-self: start;
    }

    section#orderSummary {
      grid-column: span 4;
      position: sticky;
      top: 0;
      align-self: start;
    }
  }
}