#shipping {
	container: shipping / inline-size;
	font-size: var(--size-md);

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-lg);
	}
	#shipping-collection {
		.overview-icon {
			.shipping-collect {
				display: unset;
			}
			.shipping-delivery {
				display: none;
			}
		}
	}

	#shipping-delivery {
		.overview-icon {
			.shipping-collect {
				display: none;
			}
			.shipping-delivery {
				display: unset;
			}
		}
	}


	.panel-overview {
		display: flex;
		flex-direction: row;
		gap: var(--spacing-md);
		width: 100%;

		background: var(--color-panel-light);
		padding: var(--spacing-lg);
		border-radius: var(--radius-md);

		color: var(--color-text-secondary);

		.overview-icon {
			.icon {
				width: var(--spacing-3xl);
				aspect-ratio: 1 / 1;
				& > * {
					fill: var(--color-text-secondary);
				}
			}
		}

		.overview-information {
			flex: 1;
			.overview-serviceName {
				font-size: var(--size-lg);
				font-weight: var(--weight-regular);
			}
		}
	}

	#collection-date {
		@container shipping (width < 550px) {
			.pill-group {
				flex-direction: column;
				gap: var(--spacing-xs);
				padding-inline: var(--spacing-xs);

				label {
					flex-direction: row;
					.day {
						flex: 1;
						align-content: start;
					}
					.date {
						flex: 1;
						align-content: end;
						text-align: end;
					} 
				}
			}
		}
	}


	#collection-time {
		.radiogroup {
			display: grid;
			grid-template-columns: 1fr;
			gap: var(--spacing-md);
		}
		@container shipping (width < 550px) {
			.radiogroup {
				gap: var(--spacing-xs);
				h3 {
					margin-bottom: 0;
				}
				.radio-subgroup .radio {
					flex-direction: row;
					.slot {
						flex: auto;
					}
					.cost {
						flex: auto;
						text-align: end;
					}
				}
			}
		}
		@container shipping (width > 550px) {
			.radiogroup {
				grid-template-columns: 1fr 2fr;
				align-items: start;
			}
		}
	}
	#collection-time {}
	fieldset {
		border: 0;
	}
}