@use "fs-variables" as *;

#shipping {
	container: shipping / inline-size;
	font-size: var(--size-md);

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-md);
	}
	#shipping-collection {
		.overview-icon {
			.shipping-collect {
				display: unset;
			}
			.shipping-delivery {
				display: none;
			}
		}
	}

	#shipping-delivery {
		.overview-icon {
			.shipping-collect {
				display: none;
			}
			.shipping-delivery {
				display: unset;
			}
		}
	}
	#shipping-collection,
	#shipping-delivery {
		margin-block: var(--spacing-md);
	}

	.panel-overview {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-areas:
		  "icon info"
		  "icon link";
		gap: var(--spacing-sm);
		width: 100%;
		background: var(--color-panel-light);
		padding: var(--spacing-lg);
		border-radius: var(--radius-md);

		color: var(--color-text-secondary);

		@media (min-width: $screen-sm) {
			gap: var(--spacing-md);
			grid-template-columns: auto 1fr auto;
		    grid-template-areas: "icon info link";
		    align-items: center;
		}

		.overview-icon {
			grid-area: icon;
    		align-self: start;
			.icon {
				width: var(--spacing-3xl);
				aspect-ratio: 1 / 1;
				& > * {
					fill: var(--color-text-secondary);
				}
			}
		}

		.overview-information {
			grid-area: info;
			.overview-serviceName {
				font-size: var(--size-lg);
				font-weight: var(--weight-bold);
			}
			p:not(.overview-serviceName) {
				font-size: var(--size-sm);
			}
		}
		.overview-switch {
			grid-area: link;
    		align-self: start;
    		justify-self: start;
    		margin-inline-start: calc(var(--spacing-xs) * -1);
    		@media (min-width: $screen-sm) {
    			scroll-margin-inline-start: 0;
    		}
		}
	}

	#collection-date,
	#delivery-date,
	#collection-time,
	#delivery-time {
		h3 {
			margin-block-end: var(--spacing-xs);
		}
	}

	@container shipping (width < #{$screen-sm}) {
		.pill-group {
			flex-direction: column;
			gap: var(--spacing-xs);
			overflow-x: visible;
			
			label {
				flex-direction: row;
				.day {
					flex: 1;
					align-content: start;
				}
				.date {
					flex: 1;
					align-content: end;
					text-align: end;
				} 
			}
		}
	}
	


	.radiogroup {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 0;
		row-gap: var(--spacing-2xs);
	}
	.radio-subgroup {
		display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	  gap: var(--spacing-xs);	
	  padding-block-end: unset;	
		> * {
		  flex: 0 0 auto;
		}
	}
	@container shipping (450px < width < 650px) {
		.radiogroup {
			// outline: 4px dashed cyan;
		}
	}
	@container shipping (width > 650px) {
		.radiogroup {
			// outline: 4px dashed green;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			column-gap: var(--spacing-sm);
			row-gap: var(--spacing-xs);
		}
		.radio-subgroup-title {
	    grid-row: 1;
	  }
		.radio-subgroup {
			grid-row: 2;
			grid-template-columns: 1fr;
		}	
	}
	fieldset {
		border: 0;
	}
}