.cart-item-controls {
	.control-product-quantity {
	display: flex;
	flex-direction: row;
	gap: 0;
	align-content: center;
	justify-content: stretch;
	border: var(--thickness-sm) solid var(--color-border-default);
	border-radius: var(--radius-md);
	overflow: hidden;

	.control {
		background: var(--color-background-default);
		border: 0;
		padding: var(--spacing-xs);

		line-height: 1.25;
		& > div {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		transition: var(--transition-md);
		svg {
			& > path {
				fill: var(--color-grays-600);
				stroke: var(--color-grays-600);
			}
		}
		&:hover {
			background: var(--color-brand-primary);
			cursor: pointer;
			svg {
				& > path {
					fill: var(--color-white);
					stroke: var(--color-white);
				}
			}			
		}
		&.control-minus {
			// border-start-end-radius: 0;
			// border-end-end-radius: 0;
		}
		&.control-plus {
			// border-start-start-radius: 0;
			// border-end-start-radius: 0;
		}
	}
	input {
		width: var(--spacing-2xl);
		border: 0;

		text-align: center;
		font-size: var(--size-sm);
		font-weight: var(--weight-regular);
		color: var(--color-text-secondary);

		&::-webkit-inner-spin-button {
			display: none;
		}

	}
}

	.control-remove {
		background: none;

		padding: var(--spacing-xs);
		border: 0;
		border-radius: var(--radius-sm);
		font-family: var(--font-sans);
		font-size: var(--size-xs);
		line-height: 1em;
		font-weight: 300;
		color: var(--color-text-tertiary);
		cursor: pointer;
		transition: all 0.2s ease;

		&:hover,
		&:active {
			background: var(--color-background-default);
		}
	}
}