
dl.table {
	display: grid;
	// There was previously a definition of grid-template-columns here; But these tables are too inconsistent to bother setting up default columns. Check in the page-specific CSS for the columns definitions instead. Previous value was '10rem auto'
	gap: var(--spacing-2xs);

	font-size: var(--size-md);

  dt {
  	color: var(--color-text-tertiary);
  }
  dd {
  	color: var(--color-text-tertiary);
  }
  dt, dd {
  	&.emphasis {
  		font-weight: var(--weight-bold);
  	}
    &.numeric {
        text-align: end;
    }    
  }	
}