body {
  position: relative;
}

#modalBackdrop {
  position: fixed;
  inset: 0;
  top: 0;
  bottom: 0;
  z-index: 1001; /* Following Bootstrap's pattern for z-layering */
  background:  //var(--color-backdrop-default);
    linear-gradient(217deg, var(--color-core-400), transparent 90.71%),
    linear-gradient(127deg, var(--color-bright-orange-light), transparent 90.71%),
    linear-gradient(336deg, var(--color-bright-orange-middle), transparent 90.71%);
  opacity: 0;
  backdrop-filter: blur( 5px );
  pointer-events: auto;
  

  &.show {
    opacity: 1;
    transition: opacity .25s ease;
  }
  &.show-slow {
    opacity: 1;
    transition: opacity 10s ease;
  }
  &.hide {
    opacity: 0;
    transition: opacity .25s ease;
  }

}