@use "variables" as *;

.overlay {
		position: absolute;
		top: var(--spacing-sm);
		left: var(--spacing-sm);

	&.overlay-text {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;

		font-size: var(--size-xs);
		font-weight: var(--weight-heavy);
		color: var(--color-text-primary);
		padding: var(--spacing-2xs) var(--spacing-2xs);
		box-sizing: border-box;
		border-radius: 5rem;
		min-width: 0;
		aspect-ratio: 1 / 1;

		background: var(--color-core-100);
		border: var(--thickness-lg) solid var(--color-brand-primary);
		outline: var(--thickness-md) solid var(--color-white);	
		box-shadow: var(--boxShadow-sm);	 		
	}

	&.productCardOverlay-alignRight {
		left: unset;
		right: calc( var(--spacing-xs) * -1);
	}
	&.productCardOverlay-alignBottom {
		top: unset;
		bottom: var(--spacing-xs);
	}
}