@use "fs-variables" as *;

.pill-group {
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: start;
  gap: var(--spacing-xs);
  content-visibility: visible;
}

.pill {
  border-radius: var(--radius-md);
  background: var(--color-white);
  border: var(--thickness-md) solid var(--color-border-default);
  transition: var(--transition-md);
  // font-size: var(--size-md);
  position: relative;

  flex: 1;
  align-content: stretch;
  min-width: 9em;

  padding: var(--spacing-xs);
  padding-inline-start: var(--spacing-sm);
  @media (min-width: $screen-sm) {
    padding: var(--spacing-xs);
    padding-inline-start: var(--spacing-sm);
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: start;
    color: var(--color-text-secondary);
    .day {
      font-size: var(--size-md);
      font-weight: var(--weight-bold);
    }
  }
}

.pill input[type="radio"] {
  appearance: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Style the label when the radio is checked */
.pill:has(input[type="radio"]:checked) {
  background: var(--color-background-emphasized);
  border-color: var(--color-white);
  box-shadow: 0 0 0 3px var(--color-action-primary-default);
}
.pill input[type="radio"]:checked + label {
  color: var(--color-text-primary);
}