@use "fs-variables" as *;

.progress-stepper {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);

	details {
		border: var(--thickness-sm) solid var(--color-border-default);
		& + details {
			// border-bottom: var(--thickness-sm) solid var(--color-border-default);
		}

		summary {
			display: inline-flex;
	    flex-direction: row;
	    align-content: center;
	    flex-wrap: wrap;
	    
	    width: 100%;

			padding-inline: var(--spacing-md);	
			padding-block: var(--spacing-md);
			color: var(--color-text-tertiary);
			
			cursor: pointer;


			h2, h3 {
				display: inline-block;
				margin-bottom: 0;
				font-size: var(--size-lg);
				font-weight: var(--weight-regular);
			}
			&:hover {
				color: var(--color-action-hover) !important;
			}
		}
		&[open] {
			background: var(--color-background-header);
			& > summary {
				color: var(--color-text-primary);
				& > * {
					font-weight: var(--weight-bold);
				}
			}
			.step-details-panel {
				padding-block-end: var(--spacing-md);
				padding-inline: var(--spacing-md);
			}
		}
	}
}