.fs-dashboard-card {
	--fs-color-card-bg-default: rgb(from var(--fs-color-white) r g b / 25%);
	--fs-color-card-bg-sub: rgb(from var(--fs-color-white) r g b / 75%);
	
	--fs-radius-card-sub: calc(var(--fs-radius-lg) - var(--fs-radius-sm));

	padding: var(--fs-spacing-xs);
	border: unset;
	border-radius: var(--fs-radius-lg);
	overflow: hidden;

	background: var(--fs-color-card-bg-default);
	background-blend-mode: multiply;
	backdrop-filter: blur(12px);
}

.fs-dashboard-card-sub {
	padding-inline-start: var(--fs-spacing-sm);
	background: var(--fs-color-card-bg-sub);
	border-radius: var(--fs-radius-card-sub);
	overflow: hidden;
}

details.fs-dashboard-card.accordion {
	border-block-start: unset;
	border-block-end: unset;
	summary.fs-dashboard-card-header {
		display: flex;
		gap: var(--fs-spacing-2xs);
		padding: unset;
		padding-inline-start: var(--fs-spacing-xs);
		background: unset;
		color: var(--fs-color-text-tertiary);

		.fs-dashboard-card-title {
			font-weight: var(--fs-weight-bold);
			font-size: var(--fs-weight-md);
		}

		&:hover,
		&:active {
			color: var(--fs-color-brand-primary);
		}

	}
	&[open] summary {
		color: var(--fs-color-text-primary);
	}
	.accordion-details-panel {
		padding: unset;
		padding-block-start: var(--fs-spacing-xs);
	}
}

.fs-dashboard-card-title {
	font-weight: var(--fs-weight-bold);
	line-height: var(--fs-leading-lg);

	margin-block-end: unset;
}
.fs-dashboard-card {
	.text-2xl {
		font-weight: var(--fs-weight-regular);
	}
	.text-xl {
		font-weight: var(--fs-weight-regular);
	}
	.text-lg {
		font-weight: var(--fs-weight-regular);
	}
	.label {
		color: var(--fs-color-text-secondary);
		font-size: var(--fs-size-sm);
		max-width: 30rem;
	}
	p.label {

	}
}

.fs-dashboard-card-kicker {}