.fs-dashboard-card.card-questions {
	.fs-inputGroup {
		background: rgb(from var(--fs-color-background-active) r g b / 50%);
		padding: var(--fs-spacing-sm);
		border-radius: var(--fs-radius-sm);
	}
	.fs-input-pane-header {
		margin-block-start: var(--fs-spacing-xs);
		margin-block-end: var(--fs-spacing-xs);
	}
	.fs-input-pane-title {
	    font-size: var(--fs-size-xl);		
	}
}
