@use "../fs-variables" as *;
@use "../fs-styles";

#header-participants {
	.header-compact {
		display: none;
	}
	.header-expanded {
		display: block;
	}
}

#header-positioning {
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	z-index: 1000;
	width: auto;
	max-width: 100%;
	margin: var(--fs-spacing-xs);
}

header#header-participants {
	padding-block: var(--fs-spacing-xs);
	border-radius: 10vh;
	@media (min-width: #{$fs-content-breakpoint}) {
		width: calc((100% - (var(--fs-padding-section-inline) * 2) + var(--fs-logo-size-sm) ));
		margin-inline: calc(var(--fs-padding-section-inline) - var(--fs-logo-size-sm)/2);
	}
	.container {
		margin-inline: var(--fs-spacing-xs);
	}
	#nav-main {
		padding-inline: unset;
	}
}
#header-participants-auth {
	margin-inline-end: var(--fs-spacing-md);
	// pointer-events: none;
}
