<dialog id="auth-{{ componentName }}" aria-label="" class="fs-dialog-overlay">
  <header id="auth-header-header" class="fs-dialog-header">
    <h2 id="auth-title-signin" class="fs-dialog-title">My client account</h2>
    <button commandfor="auth-{{ componentName }}" command="close" aria-label="Close the account panel" class="fs-btn btn-tertiary btn-icon btn-iconOnly" id="auth-btn-close" type="button">
        <svg class="fs-logo-symbol" viewBox="0 0 24 24" aria-hidden="true">
          <use href="#fs-x"></use>
        </svg> 
    </button>
  </header>

  <section id="auth-dialog-body" class="fs-dialog-body" aria-label="Account sign-in options">

    <p>Placeholder menu items</p>
    <a href="https://trello.com/c/Ej1ABE7V">Refer to Trello card for discussion</a>
    <ul>
      <li>Settings (Email notifications, etc)</li>
      <li>Payouts</li>
      <li>Manage my data</li>
      <hr>
      <li>Delete my account</li>
      <hr>
    </ul>

  </section>

  <section id="auth-dialog-footer" class="fs-dialog-footer">
    <ul>
      <li>Sign out</li>
    </ul>
  </section>
</dialog>