<div id="fs-auth-emailResetPassword" class="fs-panel fs-auth">
  <div class="fs-panel-header">
    <h1 class="fs-panel-title">Verify email and reset password</h1>
  </div>

  <div class="fs-panel-body">

<p>Dear <span class="text-highlight">example@email.com</span>,</p>

<p>This is your unique link – use it to securely reset your Fakesupermarket.app password.</p>

<p>It can only be used once and expires after 10 minutes. Don’t share this link with anyone else.</p>
  </div>

  <div class="fs-panel-actions">
    <div class="fs-inputGroup fs-btn-group">
      <a href class="fs-btn btn-primary btn-lg">Reset your password</a>
    </div>
  </div>
  <div class="fs-panel-footer">
    <p>If you didn’t request a verification link for the account linked to example@email.com, you can ignore this message.</p>
  </div>
</div>