<div id="fs-auth-sentResetEmail" class="fs-panel fs-auth">
  <div class="fs-panel-header">
    <h1 class="fs-panel-title">Check your email</h1>
  </div>

  <div class="fs-panel-body">
    <p>If an account exists for that email address, we’ve sent instructions for how to reset your password.</p>
    <p>The link will expire shortly. If you don’t see the email, check your spam folder.</p>
  </div>

  <div class="fs-panel-footer">
    Still can’t find it? <span id="fs-auth-possessionCheck-cooldown">Resend in 29 seconds</span><button hidden id="fs-auth-possessionCheck-btn" class="fs-btn btn-link btn-sm">Resend the email</button>
  </div>
</div>