        <div id="fs-auth-newPassword" class="fs-panel fs-auth">
          <div class="fs-panel-header">
            <h1 class="fs-panel-title">New password</h1>
          </div>

          <div class="fs-panel-body">
            <form>
              {% set input = {
                slug: "password",
                title: "Your new password",
                help: "Use at least 8 characters. Longer passwords are stronger.",
                type: "password",
                passthroughAttributes: "required autocomplete='new-password' spellcheck='false' autocapitalize='none'"
              } %}
              {% include "partials/fs-components/fs-inputGroup-core-text.njk" %}

              <div class="fs-inputGroup fs-btn-group">
                <button class="fs-btn btn-primary btn-lg">
                  <span class="text-label">Set password</span>
                </button>
              </div>
            </form>
          </div>

          <div class="fs-panel-footer">
            Having trouble with a new password? <a href class="fs-btn btn-link btn-sm">Help center</a>
          </div>
        </div>