<div id="fs-auth-emailConfirmationCode" class="fs-panel fs-auth">
  <div class="fs-panel-header">
    <h1 class="fs-panel-title">Confirm your email</h1>
  </div>

  <div class="fs-panel-body">
    <p>Dear <span class="text-highlight">example@email.com</span>,</p>

    <p>This is your confirmation code – use it to complete your Fakesupermarket.app account.</p>

    <p id="fs-auth-reset-unique"><a href>QYQDLF</a></p>
    <p>This code can only be used once and expires after 10 minutes. Don’t share this code with anyone else.</p> 
  </div>

  <div class="fs-panel-actions">
    <div class="fs-inputGroup fs-btn-group">
      <a href class="fs-btn btn-primary btn-lg">Confirm email and get started</a>
    </div>
  </div>
  <div class="fs-panel-footer">
    <p class="text-sm text-tertiary">If you didn’t request this confirmation code, you can ignore this message.</p>
  </div>
</div>