<dialog id="auth-{{ pageName }}-overlay" aria-label="" class="fs-dialog-overlay">
  <header id="auth-{{ pageName }}-dialog-header" class="fs-dialog-header">
    <h2 id="auth-{{ pageName }}-title" class="fs-dialog-title">Fake Supermarket</h2>

    <button commandfor="auth-{{ pageName }}-overlay" command="close" aria-label="Close the site panel" class="fs-btn btn-tertiary btn-icon btn-iconOnly" id="auth-{{ pageName }}-btn-close" type="button">
        <span class="icon">
          <svg class="fs-logo-symbol" viewBox="0 0 24 24" aria-hidden="true">
            <use href="#fs-x"></use>
          </svg> 
        </span>
    </button>
  </header>

  <section id="auth-{{ pageName }}-dialog-body" class="fs-dialog-body" aria-label="Account sign-in options">
    <div class="wrapper">
      <div class="fs-btn-group">
        <button commandfor="auth-{{ componentName }}-overlay" command="show-modal" aria-label="Open the sign-in menu" class="fs-btn btn-tertiary" id="auth-{{ componentName }}-menu-btn" type="button">
          <span class="label">Sign in</span>
        </button>
        <div class="fs-btn-group">
          <button class="fs-btn btn-secondary">Get paid for fake shopping</button>
          <button class="fs-btn btn-tertiary">Schedule a demo</button>
        </div>
      </div>
    </div>
  </section>

  <section id="auth-{{ pageName }}-dialog-footer" class="fs-dialog-footer"></section>
</dialog>