<details open id="fs-shopper-incentives" class="fs-dashboard-card card-incentives accordion" aria-labelledby="fs-incentives-title">
  <summary id="fs-incentives-heading" class="fs-dashboard-card-header">
    <span class="fs-accordion-markerGroup" aria-hidden="true">
      <svg class="fs-accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
        <use href="#marker-closed"></use>
      </svg>
      <svg class="fs-accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
        <use href="#marker-open"></use>
      </svg>
    </span>      
    <div class="fs-dashboard-card-wrapper">
      <h2 id="fs-incentives-title" class="fs-dashboard-card-title">Your incentives</h2>
    </div>
  </summary>
  <div class="accordion-details-panel">
    <div id="fs-incentives-balance" class="fs-dashboard-card-sub">
      <div class="fs-dashboard-card-body">
	      <p class="label">Available</p>
	      <p class="amount text-2xl">$15</p>
	    </div>
      <div class="btn-group fs-dashboard-card-actions">
        <a href="/shopper/payout/" class="fs-btn btn-tertiary">
          Get paid now
        </a>
      </div>
    </div>

    <div id="fs-incentives-tally" class="fs-dashboard-card-sub">
    	<div class="fs-dashboard-card-header">
    		<span class="icon"></span>
    		<p class="label">Tasks done</p>
    	</div>
    	<div class="fs-dashboard-card-body">
    		<p class="text-lg">9</p>
    	</div>
    </div>

    <div id="fs-incentives-total"class="fs-dashboard-card-sub">
    	<div class="fs-dashboard-card-header">
    		<span class="icon"></span>
    		<p class="label">Total incentives</p>
    	</div>
    	<div class="fs-dashboard-card-body">
    		<p class="text-lg">$45</p>
    	</div>   
    </div>

  </div>
</details>
