<div class="fs-inputGroup fs-dashboard-card-sub fs-stepper-pane-radio">
  <fieldset class="fs-fieldset" role="group" aria-describedby="income-hint">
    <div class="fs-label-wrapper">
      <legend class="fs-fieldset__legend">
        <h1 class="fs-fieldset__heading">
          Total household weekly income
        </h1>
      </legend>

      
      <label class="fs-label" for="income">
        How much does your household earn in an average week?
      </label>
      

      
    </div>

    <div class="fs-input-radioGroup" data-module="fs-radios">
      
        
<div class="fs-input-radio size-xl">
  <input class="fs-radio-input-button" id="pane-input-income-low" name="income" type="radio" value="low">

  <label for="pane-input-income-low" class="fs-input-radio-modern">
      <span class="fs-input-radio-iconGroup" aria-hidden="true">
        <svg class="fs-input-radio-icon svg-empty" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-empty"></use>
        </svg>
        <svg class="fs-input-radio-icon svg-filled" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-filled"></use>
        </svg>
      </span> 

      <div class="fs-input-radio-modern-label"> 
        Low income
        
          <br><span class="fs-inputGroup-help">1–$999 per week.</span>
        
      </div>
  </label>
</div>
      
        
<div class="fs-input-radio size-xl">
  <input class="fs-radio-input-button" id="pane-input-income-lowmid" name="income" type="radio" value="lowmid">

  <label for="pane-input-income-lowmid" class="fs-input-radio-modern">
      <span class="fs-input-radio-iconGroup" aria-hidden="true">
        <svg class="fs-input-radio-icon svg-empty" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-empty"></use>
        </svg>
        <svg class="fs-input-radio-icon svg-filled" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-filled"></use>
        </svg>
      </span> 

      <div class="fs-input-radio-modern-label"> 
        Lower-middle
        
          <br><span class="fs-inputGroup-help">$1,000–$1,999 per week.</span>
        
      </div>
  </label>
</div>
      
        
<div class="fs-input-radio size-xl">
  <input class="fs-radio-input-button" id="pane-input-income-uppermid" name="income" type="radio" value="uppermid">

  <label for="pane-input-income-uppermid" class="fs-input-radio-modern">
      <span class="fs-input-radio-iconGroup" aria-hidden="true">
        <svg class="fs-input-radio-icon svg-empty" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-empty"></use>
        </svg>
        <svg class="fs-input-radio-icon svg-filled" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-filled"></use>
        </svg>
      </span> 

      <div class="fs-input-radio-modern-label"> 
        Upper-middle
        
          <br><span class="fs-inputGroup-help">$2,000–$2,999 per week.</span>
        
      </div>
  </label>
</div>
      
        
<div class="fs-input-radio size-xl">
  <input class="fs-radio-input-button" id="pane-input-income-high" name="income" type="radio" value="high">

  <label for="pane-input-income-high" class="fs-input-radio-modern">
      <span class="fs-input-radio-iconGroup" aria-hidden="true">
        <svg class="fs-input-radio-icon svg-empty" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-empty"></use>
        </svg>
        <svg class="fs-input-radio-icon svg-filled" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-filled"></use>
        </svg>
      </span> 

      <div class="fs-input-radio-modern-label"> 
        High income
        
          <br><span class="fs-inputGroup-help">$3,000+ per week.</span>
        
      </div>
  </label>
</div>
      
        
<div class="fs-input-radio size-xl">
  <input class="fs-radio-input-button" id="pane-input-income-unknown" name="income" type="radio" value="unknown">

  <label for="pane-input-income-unknown" class="fs-input-radio-modern">
      <span class="fs-input-radio-iconGroup" aria-hidden="true">
        <svg class="fs-input-radio-icon svg-empty" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-empty"></use>
        </svg>
        <svg class="fs-input-radio-icon svg-filled" viewBox="0 0 24 24" focusable="false">
          <use href="#radio-filled"></use>
        </svg>
      </span> 

      <div class="fs-input-radio-modern-label"> 
        Not stated
        
      </div>
  </label>
</div>
      
    </div>
  </fieldset>
</div>