<details open id="fs-dashboard-walkthrough" class="fs-dashboard-card card-walkthrough accordion" aria-labelledby="fs-walkthrough-title">
  <summary id="fs-walkthrough-heading" class="fs-dashboard-card-header">
    <span class="fs-accordion-markerGroup" aria-hidden="true">
      <svg class="fs-accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
        <use href="#marker-closed"></use>
      </svg>
      <svg class="fs-accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
        <use href="#marker-open"></use>
      </svg>
    </span>      
    <div class="fs-dashboard-card-wrapper">
      <h2 id="fs-walkthrough-title" class="fs-dashboard-card-title">How to do fake shopping</h2>
    </div>
  </summary>
  <div class="accordion-details-panel">
    <div id="fs-incentives-balance" class="fs-dashboard-card-sub">
        <div class="fs-dashboard-card-body">
          <p>To come...</p>
        </div>
    </div>  
  </div>
</details>  