:root {
  --fs-weight-sm: 300;
  --fs-weight-md: 400;
  --fs-weight-lg: 500;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MD Nichrome Test";
  src: url("../fonts/MDNichrome-Dark.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}