{% set storefront = breakfastcereal %}
{% set pagelayout = "category" %}

{% extends "layouts/base.njk" %}   
 
{% block content %} 
  {% include "partials/header.njk" %}
<div id="modalBackdrop" class="show"></div>  
<main class="demo-auth">
	<h1>Shoppers landing page</h1>
</main>	

<dialog open id="auth-dialog" aria-label="Sign in to your Fake Supermarket account, or create an account" class="fs-dialog-overlay">
	<header id="auth-header-header" class="fs-dialog-header">
		<h2 id="auth-title-signin" class="fs-dialog-title">Create an account</h2>
		<button commandfor="auth-dialog" command="close" aria-label="Close the account panel" class="btn btn-tertiary btn-icon btn-iconOnly" id="auth-btn-close" type="button">
			<span class="icon" aria-hidden="true">
				{% include "partials/icons/x.njk" %}
			</span>
		</button>
	</header>

	<section id="auth-dialog-body" class="fs-dialog-body" aria-label="Account sign-in options">
		<div id="auth-dialog-options" class="wrapper">
			<button class="fs-btn btn-primary btn-icon" type="button">
				<span class="label">Sign up with email</span></button>
			<p id="auth-dialog-separator">or</p>
			<button class="fs-btn btn-tertiary btn-icon" type="button">
				<span class="icon">
					{% include "partials/icons/social-google.svg" %}
				</span>
				<span class="label">Continue with Google</span>
			</button>
			<button class="fs-btn btn-tertiary btn-icon" type="button">
				<span class="icon">
					{% include "partials/icons/social-facebook.svg" %}
				</span>
				<span class="label">Continue with Facebook</span>
			</button>			
		</div>
		<div id="auth-dialog-signin" class="wrapper">
			<p>Already have an account?</p>
			<a href="#" class="fs-btn btn-link">Sign in</a>
		</div>
	</section>

	<section id="auth-dialog-footer" class="fs-dialog-footer">

	</section>
</dialog>


  {% include "partials/footer.njk" %}

  <script type="module" src="/js/utils/backdrop.js" ></script>  

{% endblock %}