<aside id="auth-overlay" role="dialog" aria-modal="true" aria-labelledby="auth-modal-title" tabindex="-1" class="open">
	<header id="auth-overlay-header">
		<h2 id="auth-overlay-title" class="">Sign in or register</h2>
		<button aria-label="Close account panel" class="btn btn-tertiary btn-icon btn-iconOnly" id="cart-overlay-btn-close" type="button">
			<span class="icon" aria-hidden="true">x</span>
		</button>
	</header>

	<section id="auth-summary" aria-label="Account sign-in options">
		<div id="auth-summary-products">
			<div class="wrapper">
				<button class="fs-btn btn-primary" type="button">Continue with email</button>
				<button class="fs-btn btn-secondary" type="button">Continue with Google</button>
			</div>
		</div>
	</section>
</aside>