{% set fakesupermarket = dashboard.fakesupermarket %}
{% set pagelayout = "dashboard shoppers" %}

{% extends "layouts/base.njk" %}

{% block content %}
{# {% include "partials/header.njk" %} #}
<div class="fs-background">
  <img src="/images/{{ fakesupermarket.background }}">
</div>

<header id="shopperHeader">
  <p>Logo</p>
  <button>Menu</button>
</header>

<main id="shopperDashboard">

  {% include "partials/fs-components/fs-shopper-welcome.njk" %}

  {% include "partials/fs-components/fs-shopper-tasks.njk" %}

  <div id="fs-shopper-secondary">
    {% include "partials/fs-components/fs-shopper-incentives.njk" %}

    {% include "partials/fs-components/fs-shopper-questions.njk" %}

    {% include "partials/fs-components/fs-shopper-walkthrough.njk" %}
  </div>
</main>
{# {% include "partials/footer.njk" %} #}


  <div class="fs-svg-hidden" aria-hidden style="position:absolute;width:0;height:0;overflow:hidden">
    {% include "partials/icons/marker-interactive.njk" %}
    {% include "partials/icons/radio-interactive.njk" %}
    {% include "partials/icons/check.njk" %}
    {% include "partials/icons/dollar-sign.njk" %}
  </div>
{% endblock %}