{% set storefront = meat %}

{% extends "layouts/base.njk" %}   
 
{% block content %}
	{% include "partials/header.njk" %}
	<main id="main" class="checkout main-content">

		<menu class="sr-only">Jump links</menu>

		<article id="checkout">
			<section id="paymentFlow" class="progress-stepper">
				<!-- Move this to a dedicated partial -->
				<details open name="paymentFlow-review" id="paymentFlow-review" class="paymentFlow-step">
					<summary>
						<h3>
							<span class="step-number">1</span>
							<span class="step-title">Cart</span>
						</h3>
						<span id="step-review-status"></span>
					</summary>
					<div id="cart-summary" class="step-details-panel">
						<div id="cart-summary-products">
							<ul id="cart-summary-products-list" class="checkout-cart-summary">
							  <!-- Cart items go here -->
							</ul>

						</div>
						{% include "partials/cartSummary-empty.njk" %}
					</div>
					<section id="paymentFlow-summary-actions" aria-label="Confirm that the items in your cart are correct and final.">
						<button class="btn btn.primary"><span class="sr-only">Confirm – </span>Yes, all good</button>
					</section>					
				</details>

				<details open name="paymentFlow-delivery" id="paymentFlow-delivery" class="paymentFlow-step">
					<summary>
						<h3>
							<span class="step-number">2</span>
							<span class="step-title">{{ storefront.checkoutLabelDeliveryService }} / {{ storefront.checkoutLabelCollectionService }}</span>
						</h3>
						<span id="step-delivery-status"></span>
					</summary>
					<section id="shipping" class="step-details-panel">
						{% include "partials/checkout-shipping.njk" %}	
					</section>
					<section id="paymentFlow-shipping-actions" aria-label="Confirm that the (fake) settings in the {{ storefront.checkoutLabelDeliveryService }} slash {{ storefront.checkoutLabelCollectionService }} section are correct and final.">
						<button class="btn btn.primary"><span class="sr-only">Confirm – </span>Yes, all good</button>
					</section>				
				</details>

				<details open name="paymentFlow-payment" id="paymentFlow-payment" class="paymentFlow-step">
					<summary>
						<h3>
							<span class="step-number">3</span>
							<span class="step-title">Payment</span>
						</h3>
						<span id="step-review-status"></span>
					</summary>
					<section id="paymentFlow-payment-options" class="step-details-panel">
						{% include "partials/checkout-payment.njk" %}
					</section>					
						<section id="paymentFlow-payment-actions" aria-label="Confirm that your (fake) payment settings are correct and final.">
							<button class="btn btn.primary"><span class="sr-only">Confirm – </span>Yes, all good</button>
						</section>					
					</details>
			</section>

			<section aria-labelledby="paymentFlow-orderSummary-heading" id="orderSummary">
				{% include "partials/checkout-orderSummary.njk" %}
			</section>
		</article>
	</main>

  {% include "partials/footer.njk" %}
  {% include "partials/json-storefront.njk" %}
  {% include "partials/json-productCards.njk" %}  
	{% include "partials/template-svg.njk" %}

  <script type="module" src="/js/pages/checkout.js"></script>
  <script type="module" src="/js/utils/backdrop.js" ></script>

{% endblock %}
