{% set storefront = meat %}

{% extends "layouts/base.njk" %}   
 
{% block content %}
  {% include "partials/header.njk" %}
    
  <div id="utility-wrapper" role="region">
    {% set breadcrumbs = (storefront.breadcrumbs) %}
    {% include "partials/breadcrumbs.njk" %}
    
    {% include "partials/banner_ad.njk" %}
  </div>

  <main id="main" class="main-content">
    <h1>{{ storefront.categoryTitle }}</h1>

    {% include "partials/category_SortAndFilter.njk" %}

    <div id="products-grid"></div>

    {% include "partials/pagination.njk" %}
  </main>

  {% include "partials/footer.njk" %}
  {% include "partials/cartSummary-modal.njk" %}
  {% include "partials/json-storefront.njk" %}
  {% include "partials/json-productCards.njk" %}

  <script type="module" src="/js/pages/category.js"></script>
  <script type="module" src="/js/components/{{ storefront.storefrontType }}/productCards.js"></script>
  <script type="module" src="/js/pages/cart-overlay.js"></script>

{% endblock %}
