{% set storefront = meat %}

{% extends "layouts/base.njk" %}   
 
{% block content %}
	{% include "partials/header-minimal.njk" %}
	<main id="main" class="confirmation main-content">

		<menu class="sr-only">Jump links</menu>

		<article id="confirmation">
			<section id="confirmationReceipt" class="">
				<h1 id="confirmationReceipt-heading">
					Fake invoice
				</h1>

				<div id="confirmationReceipt-collectFromStore">
					<h2>Collect from store</h2>
				</div>

				<div id="confirmationReceipt-total">
					Total spend
				</div>

				<div id="confirmationReceipt-products">
					<ul>
						<li>Item</li>
					</ul>
				</div>

				<div id="confirmationReceipt-priceAdjustments">
					<p>* Promotional price</p>
				</div>

				<div id="confirmationReceipt-paymentMethod">
					<h2>Payment</h2>
				</div>

				<div id="confirmationReceipt-rewards">
					<h2>Rewards</h2>
				</div>
			</section>

			<section id="confirmationInterview">
				
			</section>
		</article>
	</main>

  {% include "partials/footer.njk" %}
  {% include "partials/json-storefront.njk" %}
  {% include "partials/json-productCards.njk" %}  
	{% include "partials/template-svg.njk" %}
	
  <script type="module" src="/js/utils/init.js"></script>
  <script type="module" src="/js/pages/onboarding.js"></script>
  <script type="module" src="/js/pages/completion.js"></script>
  <script type="module" src="/js/utils/backdrop.js" ></script>

{% endblock %}
