{% set storefront = meat %}

{% extends "layouts/base.njk" %}   
 
{% block content %}
	{% include "partials/header-minimal.njk" %}
	<main id="main" class="confirmation main-content">

		<menu class="sr-only">Jump links</menu>

		<article id="confirmation">
			<section id="confirmationReceipt" disabled class="fs-unavailable">
				{% include "partials/confirmation-receipt.njk" %}
			</section>

			<section id="confirmationShipping" disabled class="fs-unavailable">
				{% include "partials/confirmation-shipping.njk" %}
			</section>

			<section id="confirmationInterview">
				{% include "partials/fs-interview.njk" %}
			</section>
		</article>
	</main>

  {% include "partials/footer.njk" %}
  {% include "partials/json-storefront.njk" %}
  {% include "partials/json-productCards.njk" %}  
	{% include "partials/template-svg.njk" %}
	
  <script type="module" src="/js/utils/init.js"></script>
  <script type="module" src="/js/pages/onboarding.js"></script>
  <script type="module" src="/js/pages/confirmation.js"></script>
  <script type="module" src="/js/utils/backdrop.js" ></script>

{% endblock %}
