@use "../fs-variables" as *;
@use "../fs-styles";

.fs-pageSection {
  &--grid {
    .pageSection {
      &__inner {
        max-width: var(--fs-screen-lg); 
        margin-inline: auto;  
      }
      &__header {
        margin-block: var(--fs-spacing-md);
      }
      &__heading {
        @extend .fs-typo-pageHead-major;
      }

      &__group {
        display: grid;
        grid-template-columns: repeat(
          auto-fit,
          minmax(min(100%, 18rem), 1fr)
        );
        gap: var(--fs-spacing-md);
      }
    }
  }
}
