---
layout: demo-recruitmentQuestions.njk
title: "Demo - Signup interview questions"
permalink: "pages/demo/questions.html"
slug: "interview"

groups:        
  - groupTitle: "Name"
    groupSlug: "fullname"
    groupDescription: "Your full name, as it would appear on official documents like a bank account or passport."
    groupDescriptionExample: "For example, Monet Jackson"
    groupUseAsCriteria: false
    groupUseForInterview: true
    groupInterviewInputType: "text"
    groupInterviewPartial: "pane-text.njk"

  - groupTitle: "Date of birth"
    groupDescription: "When were you born?"
    groupDescriptionExample: "For example, 27 3 1997"
    groupSlug: "age"
    groupUseAsCriteria: true
    groupUseForInterview: true
    groupInterviewInputType: "dob"
    groupInterviewPartial: "pane-dateofbirth.njk"

  - groupTitle: "Geographic location"
    groupSlug: "location"
    groupUseAsCriteria: true
    groupUseForInterview: true
    groupInterviewInputType: "radio"
    groupUsePopulation: true
    groupInterviewPartial: "pane-radio.njk"
    items:
      - defaultCharacteristicLabel: "New South Wales"
        defaultCharacteristicSlug: "nsw"
        defaultCharacteristicValue: "32"
      - defaultCharacteristicLabel: "Victoria"
        defaultCharacteristicSlug: "vic"
        defaultCharacteristicValue: "26"
      - defaultCharacteristicLabel: "Queensland"
        defaultCharacteristicSlug: "qld"
        defaultCharacteristicValue: "20"
      - defaultCharacteristicLabel: "Western Australia"
        defaultCharacteristicSlug: "wa"
        defaultCharacteristicValue: "10"
      - defaultCharacteristicLabel: "South Australia"
        defaultCharacteristicSlug: "sa"
        defaultCharacteristicValue: "7"
      - defaultCharacteristicLabel: "Tasmania"
        defaultCharacteristicSlug: "tas"
        defaultCharacteristicValue: "2"
      - defaultCharacteristicLabel: "Australian Capital Territory"
        defaultCharacteristicSlug: "act"
        defaultCharacteristicValue: "2"
      - defaultCharacteristicLabel: "Northern Territory"
        defaultCharacteristicSlug: "nt"
        defaultCharacteristicValue: "1"

---