---
layout: demo-recruitmentCriteria.njk
title: "Recruitment Brief components"
permalink: "pages/demo/recruitment.html"

defaultPopulationSize: 400
groups:
  - groupTitle: "Gender"
    groupSlug: "gender"
    groupDescription: "How do you self-identify?"
    groupUsePopulation: true
    items:
      - defaultCharacteristicLabel: "Female"
        defaultCharacteristicSlug: "female"
        defaultCharacteristicValue: "50"
      - defaultCharacteristicLabel: "Male"
        defaultCharacteristicSlug: "male"
        defaultCharacteristicValue: "49"
      - defaultCharacteristicLabel: "Non-binary"
        defaultCharacteristicSlug: "enby"
        defaultCharacteristicValue: "1"
      - defaultCharacteristicLabel: "Not stated"
        defaultCharacteristicSlug: "unknown"
        defaultCharacteristicValue: "0"

  - groupTitle: "Geographic location"
    groupSlug: "location"
    groupUsePopulation: true
    items:
      - defaultCharacteristicLabel: "New South Wales"
        defaultCharacteristicSlug: "nsw"
        defaultCharacteristicValue: "32"
      - defaultCharacteristicLabel: "Victoria"
        defaultCharacteristicSlug: "vic"
        defaultCharacteristicValue: "26"
      - defaultCharacteristicLabel: "Queensland"
        defaultCharacteristicSlug: "qld"
        defaultCharacteristicValue: "20"
      - defaultCharacteristicLabel: "Western Australia"
        defaultCharacteristicSlug: "wa"
        defaultCharacteristicValue: "10"
      - defaultCharacteristicLabel: "South Australia"
        defaultCharacteristicSlug: "sa"
        defaultCharacteristicValue: "7"
      - defaultCharacteristicLabel: "Tasmania"
        defaultCharacteristicSlug: "tas"
        defaultCharacteristicValue: "2"
      - defaultCharacteristicLabel: "Australian Capital Territory"
        defaultCharacteristicSlug: "act"
        defaultCharacteristicValue: "2"
      - defaultCharacteristicLabel: "Northern Territory"
        defaultCharacteristicSlug: "nt"
        defaultCharacteristicValue: "1"

  - groupTitle: "Household structure"
    groupSlug: "household"
    groupDescription: "We're interested in the composition of your household – mostly whether you're shopping for yourself or for a family."
    groupUsePopulation: true
    items:
      - defaultCharacteristicLabel: "Family household"
        defaultCharacteristicSlug: "family"
        defaultCharacteristicExplanation: "Households with a family, containing a mix of adults and children or other dependents."
        defaultCharacteristicValue: "72"
      - defaultCharacteristicLabel: "Lone (single) person households"
        defaultCharacteristicSlug: "single"
        defaultCharacteristicExplanation: "Households where one person lives alone."
        defaultCharacteristicValue: "24"
      - defaultCharacteristicLabel: "Group households"
        defaultCharacteristicSlug: "flatmates"
        defaultCharacteristicExplanation: "Households with two or more unrelated persons (eg, flatmates)."
        defaultCharacteristicValue: "4"
      - defaultCharacteristicLabel: "Something different"
        defaultCharacteristicSlug: "different"
        defaultCharacteristicExplanation: "Households with a different mix of residents than the options above."
        defaultCharacteristicValue: "0"

  - groupTitle: "Family "
    groupSlug: "family"
    groupDescription: "If you live as part of a family unit, what is the structure of your family?"
    groupUsePopulation: false
    groupUseAnotherGroup: household
    groupUseAnotherCharacteristic: family
    items:
      - defaultCharacteristicLabel: "Couple family with children"
        defaultCharacteristicSlug: "parentsPlusKids"
        defaultCharacteristicExplanation: "Includes all couples with dependent or non-dependent children."
        defaultCharacteristicValue: "53"
      - defaultCharacteristicLabel: "Couple family without children"
        defaultCharacteristicSlug: "coupleOnly"
        defaultCharacteristicValue: "35"
      - defaultCharacteristicLabel: "One-parent family"
        defaultCharacteristicSlug: "oneParent"
        defaultCharacteristicValue: "12"
      - defaultCharacteristicLabel: "Other family"
        defaultCharacteristicSlug: "different"
        defaultCharacteristicExplanation: "Families with a different mix of adults and children than the options above."
        defaultCharacteristicValue: "0"

  - groupTitle: "Total household weekly income"
    groupSlug: "income"
    groupDescription: "How much does your household earn in an average week?"
    groupUsePopulation: true
    items:
      - defaultCharacteristicLabel: "Low income"
        defaultCharacteristicSlug: "low"
        defaultCharacteristicExplanation: "1–$999 per week."
        defaultCharacteristicValue: "22"
      - defaultCharacteristicLabel: "Lower-middle"
        defaultCharacteristicSlug: "lowmid"
        defaultCharacteristicExplanation: "$1,000–$1,999 per week."
        defaultCharacteristicValue: "38"
      - defaultCharacteristicLabel: "Upper-middle"
        defaultCharacteristicSlug: "uppermid"
        defaultCharacteristicExplanation: "$2,000–$2,999 per week."
        defaultCharacteristicValue: "23"
      - defaultCharacteristicLabel: "High income"
        defaultCharacteristicSlug: "high"
        defaultCharacteristicExplanation: "$3,000+ per week."
        defaultCharacteristicValue: "12"
      - defaultCharacteristicLabel: "Not stated"
        defaultCharacteristicSlug: "unknown"
        defaultCharacteristicValue: "5"


---