    <div class="banner-ad"><a class="banner-link"><img alt="" class="banner-image" width="" src="https://fakesupermarket.app/pages/breakfastcereal/20260509-_1.jpg"></a></div>

    <div class="banner-ad fs-unavailable"><a class="banner-link"><img alt="" class="banner-image" width="" src="https://fakesupermarket.app/pages/breakfastcereal/20260509-_1.jpg"></a></div>