<section class="product-information accordion">
        <!-- Product Description -->
        
          <details name="productDetails-description" aria-labelledby="description-heading">
            <summary class="accordion-summary-header">
            <span class="accordion-markerGroup" aria-hidden="true">
              <svg class="accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-closed"></use>
              </svg>
              <svg class="accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-open"></use>
              </svg>
            </span>            

              <h3 id="description-heading">Product details</h3>
            </summary>

            <div class="accordion-details-panel">
              <p itemprop="description">
              
                Arnold's Farm Granola Pink Lady Apple &amp; Cinnamon is a source of fibre, has no artificial colours or flavours and very high in whole grain. Proudly Australian made. <br><br>Golden Oat Granola<br><br>Our granola is made with Aussie oats, crunchy pepitas and diced apples, baked in a delicious cinnamon syrup.&nbsp;<br><br>- Source of fibre<br>- Very high in whole grain<br>- Real fruit<br>- Made with Aussie Oats<br>- Suitable for vegetarians &amp; vegans<br>- No artificial colours or flavours<br>- One 45g serve of Arnold's Farm Pink Lady Apple &amp; Cinnamon Granola contributes 55% of the 48g whole grain Daily Target Intake.&nbsp;<br><br>At Arnold's Farm, we believe that good food should be enjoyed every day. That's why we're proud that our mueslis have been loved by Aussie families since 1983!<br><br>Our dedicated team use wholesome, locally grown oats and grains, the way nature intended, to create a range of mueslis, granolas and clusters that are simply delicious.
              
              </p>

              
  	            <dl>
  	              <dt>Country of origin:</dt>
  	              <dd>Australia</dd>
  	            </dl>
  	          
            </div>
          </details>
        

        <!-- Ingredients and Warnings -->
        <!-- Note to self: A lot of these H2 + p blocks should probably get replaced by a Nunjucks mixin -->
        <details aria-labelledby="ingredients-heading">
          <summary class="accordion-summary-header">
            <span class="accordion-markerGroup" aria-hidden="true">
              <svg class="accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-closed"></use>
              </svg>
              <svg class="accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-open"></use>
              </svg>
            </span>            
            <h3 id="ingredients-heading">Ingredients &amp; warnings</h3>
          </summary>
          <div class="accordion-details-panel">
            <dl><dt>Ingredients: </dt><dd>Whole Grain Oats (59%), Glucose, Golden Syrup (Sugar, Water), Raw Sugar, Rice Puffs (Rice Flour, Sugar, Salt, Golden Syrup), Sunflower Oil, Dried Apple (Preservative (223)), Pepitas (2%), Pink Lady Apple (2%), Cinnamon (0.5%), Natural Flavour, Ginger Power, Antioxidant (Vitamine E).</dd></dl>
            
              <dl><dt>Allergen advice: </dt><dd>Contains: <strong>Gluten</strong>. <em>May contain:</em> Milk, Peanuts, Sesame, Sulphites, Soy, Lupin, Pine Nut, Almond, Cashew, Hazelnut, Macadamia, Pecan, Brazil Nut, Pistachio, Walnut, Wheat. <em>Health and product warnings:</em> Great care has been taken to remove all shells and stones from all of our natural ingredients, however some may remain.</dd></dl>
            
          </div>
        </details>

        <!-- Nutrition Info -->
        <details aria-labelledby="nutrition-heading">
          <summary class="accordion-summary-header">
            <span class="accordion-markerGroup" aria-hidden="true">
              <svg class="accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-closed"></use>
              </svg>
              <svg class="accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-open"></use>
              </svg>
            </span>            
            <h3 id="nutrition-heading">Nutrition information</h3>
          </summary>
          <div class="accordion-details-panel">
            

            <style>
              #nutrition-information tr td:nth-of-type(1) {
                display: flex;
                justify-content: space-between;
                width: 100%;
              }
              #nutrition-information tr td .invisible {
                color: transparent;
              }
            </style>

            <table id="nutrition-information">
              <thead>
                <tr>
                  <th scope="col"><span class="sr-only">Nutrient</span></th>
                  <th scope="col" class="numeric">Per 100g</th>
                  <th scope="col" class="numeric">Per serving</th>
                  <th scope="col" class="numeric">% daily intake</th>
                </tr>
              </thead>
              <tbody>
                
                  <tr>
                    <td>Energy</td>
                    <td class="numeric">1740.0kJ</td>
                    <td class="numeric">783.0kJ</td>
                    <td class="numeric"></td>
                  </tr>
                
                
                  <tr>
                    <td>Protein</td>
                    <td class="numeric">8.2g</td>
                    <td class="numeric">3.7g</td>
                    <td class="numeric"></td>
                  </tr>
                          
                
                  <tr>
                    <td>Fat <span class="secondary-label">(total)</span></td>
                    <td class="numeric">11.9g</td>
                    <td class="numeric">5.4g</td>
                    <td class="numeric"></td>
                  </tr>
                 
                
                  <tr>
                    <td><span class="invisible">Fat</span> <span class="secondary-label">(saturated)</span></td>
                    <td class="numeric">1.7g</td>
                    <td class="numeric">0.8g</td>
                    <td class="numeric"></td>
                  </tr>
                 
                
                  <tr>
                    <td>Carbohydrates <span class="secondary-label">(total)</span></td>
                    <td class="numeric">64.5g</td>
                    <td class="numeric">29.0g</td>
                    <td class="numeric"></td>
                  </tr>
                 
                
                  <tr>
                    <td><span class="invisible">Carbohydrates</span> <span class="secondary-label">(sugar)</span></td>
                    <td class="numeric">18.8g</td>
                    <td class="numeric">8.5g</td>
                    <td class="numeric"></td>
                  </tr>
                           
                 
                
                  <tr>
                    <td>Potassium</td>
                    <td class="numeric">-</td>
                    <td class="numeric">-</td>
                    <td class="numeric"></td>
                  </tr>
                 
                
                  <tr>
                    <td>Fibre</td>
                    <td class="numeric">7.5g</td>
                    <td class="numeric">3.4g</td>
                    <td class="numeric"></td>
                  </tr>
                 
              </tbody>
            </table>
          </div>
        </details>

        <!-- Storage -->
        
          <details aria-labelledby="storage-heading">
            <summary class="accordion-summary-header">
              <span class="accordion-markerGroup" aria-hidden="true">
                <svg class="accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
                  <use href="#marker-closed"></use>
                </svg>
                <svg class="accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
                  <use href="#marker-open"></use>
                </svg>
              </span>            
              <h3 id="storage-heading">Storage</h3>
            </summary>
            <div class="accordion-details-panel">
              <dl>
                <dt>Storage instructions</dt>
                <dd>Store unopened in a cool, dry place at less than 25C. Once opened, store in an airlight container away from direct sunlight.</dd>
              </dl>
            </div>
          </details>
        
      </section>