  <div id="story--components-emptycart--default--primary-inner" data-name="Default">
    <div id="cart-summary-products-empty">
      <div class="wrapper">
        <div class="cart-summary-empty-content">
          <h3 class="cart-summary-empty-title">Your cart is empty</h3>
          <button class="btn btn-tertiary cart-summary-empty-action">Continue shopping to add items</button>
        </div>
    </div>
    </div>
  </div>