<footer id="site-footer"><div id="footer-branding" class="row"><div class="wrapper"><span id="footer-logo"><h3>Store Supermarkets</h3></span><a class="btn btn-tertiary" href="pages/breakfastcereal/#top">Back to top</a></div></div></footer>