<footer id="site-footer"><div id="footer-tail" class="row"><div class="wrapper"><p>© 2026 Fake Supermarket. All rights reserved. </p><ul><li><a href="#">Privacy policy</a></li><li><a href="#">Terms &amp; Conditions</a></li></ul></div></div></footer>