<div class="fs-dialogue fs-dialogue-sm"><div class="fs-dialogue-outer"><div class="fakesupermarket-logo">
	{% include "partials/logo/fakesupermarket-logo.njk" %}
</div><div class="fs-dialogue-inner"><div class="fs-dialogue-content"><h3 class="fs-dialogue-title">Checkout with next week's groceries</h3><ul class="fs-dialogue-text researchPrompt-detail"><li>You'll see products from the <strong>Breakfast cereals</strong> section of a fake supermarket.</li><li>Think about what <strong>you</strong> expect to buy in next week's groceries.</li><li>Go through the checkout with the products which you would buy for your household.</li></ul></div><div class="fs-dialogue-actions"><div class="fs-btn-group"><a class="btn btn-secondary btn-sm fs-btn" href="#">Show a walkthrough</a></div></div></div></div></div>