<div class="fs-dialogue fs-dialogue-sm"><div class="fs-dialogue-outer"><div class="fakesupermarket-logo">
	{% include "partials/logo/fakesupermarket-logo.njk" %}
</div><div class="fs-dialogue-inner"><div class="fs-dialogue-content"><h3 class="fs-dialogue-title">Choose the products your household would usually buy</h3></div></div></div></div>