<div id="fs-taskReminder" class="fs-dialogue fs-taskReminder">
	<div class="fs-dialogue-outer">

		<div class="fakesupermarket-logo">
			{% include "partials/logo/fakesupermarket-logo.njk" %}
		</div>

		<div class="fs-dialogue-inner">
			<div class="fs-dialogue-content">
				<h3 class="fs-dialogue-title">Pick what's for breakfast...</h3>
        
          <ul class="fs-dialogue-text researchPrompt-detail">
            
              <li>You'll see a range of <strong>Breakfast cereals</strong>.</li>
            
              <li>Pick what <strong>you</strong> would buy for your household.</li>
            
              <li>Go through the checkout. <em>Remember</em>: You don't have to pay.</li>
            
          </ul>
        
      </div>
      <div class="fs-dialogue-actions fs-btn-group">             
    		<a href="#" class="fs-btn btn-secondary btn-sm" target="_blank">Show a walkthrough</a>
			</div>
		</div>
	</div>
</div>