<div id="fs-endEarly" class="fs-dialogue fs-dialogue-xs fs-dialogue-inline">
	<div class="fs-dialogue-outer">
		<div class="fakesupermarket-logo">
			{% include "partials/logo/fakesupermarket-logo.njk" %}
		</div>
		<div class="fs-dialogue-inner">
			<div class="fs-dialogue-content">
				<h3 class="fs-dialogue-title">Need to stop here?</h3>
				<p class="fs-dialogue-text">You can leave the survey now and come back later if needed.</p>
			</div>
		</div>
	</div>
</div>