<header id="site-header"><div class="container"><nav id="nav-main"><div id="header-cart"><button id="header-cartBtn" class="btn btn-cart" aria-label="Shopping cart summary" type="button"><span class="cart-icon" aria-hidden="true">🛒</span><span class="cart-value"><span id="header-cartBtn-subtotal">$0.00</span><span class="sr-only"> worth of items in the cart</span></span><span hidden="" class="badge badge-tally" id="header-cartBtn-badge"><span class="sr-only">And there's:</span><span id="header-cartBtn-tally">0</span><span class="sr-only"> items in the cart</span></span></button></div></nav></div></header>