<div id="85468" class="product-card Dorset" role="group" aria-labelledby="product-name-85468">
		<div class="productCard-image">
			<img src="/pages/breakfastcereal/85468.webp" class="product-image" width="200" height="200" loading="lazy">
		</div>
	    
		<div class="productCard-info">
		  <div class="productCard-identification">
				    
		    <div class="product-brand" aria-label="Brand">Dorset</div>
		    <h3 class="product-name" id="product-name-85468">
		      <a href="/pages/breakfastcereal/dorset-berry-granola.html">Berry Granola</a>
		    </h3>
		    <div class="product-grossWeight">450g</div>
		  </div>

		  <div class="productCard-pricing">
		    <div class="product-price-current" aria-label="Current price:">$7.00</div>
		    <div class="product-price-info">
		      <div class="product-price-unit" aria-label="Unit price per weight">$1.56/100g</div>
		    </div>
		  </div>
		</div>

	    <div class="productCard-actions">
	      <button class="add-to-cart btn btn-product btn-primary" data-sku="85468" data-price="7.00" aria-label="Add Berry Granola to your cart">
	         Add to cart
	      </button>
	      <button disabled="" class="favorite-button btn btn-product btn-secondary fs-unavailable" aria-label="Come back to Berry Granola later" onclick="toggleFavorite(this)">
	         Save to list
	      </button>
	    </div>
	</div>
	