<main class="productDetails" style="width: 100%; max-width: 100%; margin-inline: auto;"><article style="width: 100%;"><section class="product-information accordion"><style>
        .product-information details[open] summary {
          background: transparent;
        }
      </style><details aria-labelledby="_r_1i_"><summary class="accordion-summary-header"><h3 id="_r_1i_">Ingredients &amp; warnings</h3></summary><div class="accordion-details-panel"><dl><dt>Ingredients:</dt><dd>Whole wheat, sultanas (26%), wheat bran (26%), sugar, barley malt extract, salt, minerals (iron, zin c oxide), vitamins (niacin, vitamin B6, riboflavin , folate). (Natural source of magnesium)</dd></dl><dl><dt>Allergen advice:</dt><dd><span>Contains: <strong>Gluten, Wheat</strong>. <em>May contain:</em> Tree Nuts, Peanuts</span></dd></dl></div></details></section></article></main>