<main class="productDetails" style="width: 100%; max-width: 100%; margin-inline: auto;">
	<section class="product-recommended" aria-labelledby="recommended-heading-_r_24_">
		<h2 class="recommended-heading" id="recommended-heading-_r_24_">You might also like these</h2>
		{% include "partials/product_details-recommendations.njk" %}
	</section>
</main>