<main class="productDetails" style="width: 100%; max-width: 100%; margin-inline: auto;"><article style="width: 100%;"><section class="product-related" aria-labelledby="related-heading-_r_25_"><h2 class="related-heading" id="related-heading-_r_25_">Customers also bought</h2><p class="related-none">No related products at the moment.</p></section></article></main>