<main class="productDetails" style="width: 100%; max-width: 100%; margin-inline: auto;"><article style="width: 100%;"><h1 id="storybook-product-name" class="sr-only">Sultana Bran High Fibre Breakfast Cereal Bulk Pack</h1><section class="product-images" aria-labelledby="storybook-product-name"><div class="product-images-main" aria-label="Images of Sultana Bran High Fibre Breakfast Cereal Bulk Pack"><figure><img alt="" src="https://storybook.jumpdevelopment.net/assets/86462-DGxJAEPn.avif"></figure></div></section></article></main>