<main class="productDetails" style="width: 100%; max-width: 100%; margin-inline: auto;">
	<section class="product-related" aria-labelledby="related-heading-_r_24_">
		<h2 class="related-heading" id="related-heading-_r_24_">Customers also bought</h2>
		{% include "partials/product_details-related.njk" %}
	</section>
</main>