<main class="productDetails" style="width: 100%; max-width: 100%; margin-inline: auto;"><article style="width: 100%;"><section class="product-recommended" aria-labelledby="recommended-heading-_r_24_"><h2 class="recommended-heading" id="recommended-heading-_r_24_">You might also like these</h2><p class="recommended-none">No recommendations at the moment.</p></section></article></main>