<div id="products-grid">
  <div id="" class="product-card fakeproduct" role="group" aria-labelledby="product-name-fakeproduct">
    <div class="productCard-image">
      <img src="/pages/landingpage/cornfakes.png" class="product-image" loading="lazy">
    </div>
      
    <div class="productCard-info">
      <div class="productCard-identification">
        <div class="product-brand" aria-label="Brand">Fake Supermarket</div>
          <h3 class="product-name" id="product-name-fakeproduct">
            Corn Fakes family pack
          </h3>
        <div class="product-grossWeight">380g</div>
      </div>
      <div class="productCard-pricing">
        <div class="product-price-current" aria-label="Current price:">$5.00</div>
        <div class="product-price-info">
          <div class="product-price-unit" aria-label="Unit price per weight">$1.32/100g</div>
        </div>
      </div>
    </div>
    <div class="productCard-actions">
      <a href="#how-it-works" class="sign-up btn btn-product btn-primary" data-sku="" aria-label="We can't actually do sign-up yet – It's coming soon.">
         See how it works
      </a>
      <button class="favorite-button btn btn-product btn-secondary fs-unavailable" aria-label="">
         Join the mailing list
      </button>
    </div>
  </div>          
</div>