<article itemscope="" itemtype="https://schema.org/Product">
      
      <!-- Product Title and Meta -->
      <div class="product-essentials" aria-labelledby="product-productName">
        <h1 class="product-productName" id="product-productName" itemprop="name">Corn Fakes</h1>
          <div class="product-grossWeight">380g</div>
        
        <p class="product-brandInfo"><span itemprop="brand">Fake Supermarket</span></p>
        
        <div class="product-shortDescription"></div>

        <div class="product-pricing">
        <!-- Note to self: The pricing section - on both this page and on the Category grid - could be consolidated into a mixin or something. -->
          <div class="product-pricing-topline">
  	        <div class="product-price-current price" aria-label="Current price:">
  							<span itemprop="priceCurrency" content="AUD">$</span><span itemprop="price" content="5.00">5.00</span>
  	        </div>
  	      </div>
          
          <div class="product-price-value">
              <div class="product-price-unit" aria-label="Unit price per weight">
                $1.32 per 100g
              </div>
            
          </div>
      	</div>

        <div class="product-actions">
          <button disabled class="fs-unavailable add-to-cart btn btn-product btn-primary" data-sku="" data-price="5.00" aria-label="">
            Sign up now
          </button>
          
          <span class="fs-unavailable">
            <button class="favourite-button btn btn-product btn-secondary" aria-label="" >
              Join the mailing list
            </button>
          </span>
        </div>  
      </div>

      <!-- Product Content -->
      <div class="product-images" role="region" aria-labelledby="product-name">
        <!-- Column: Image -->
        <div class="product-images-main" aria-label="Images of Granola Pink Lady Apple &amp; Cinnamon">
            <figure itemprop="image">
              <img src="/pages/landingpage/cornfakes.png" alt="">
            </figure>
          
        </div>
        <div class="product-images-thumbnails" aria-labelledby="thumbnails-heading">
          <h2 id="thumbnails-heading" class="sr-only">There are 5 thumbnail images of the product</h2>
          <ul role="list">
            <li>
              <button type="button" aria-label="Show image 1">
                <img src="/pages/landingpage/cornfakes.png" alt="Thumbnail #1" style="max-width:100%; max-height:100%;">
              </button>
            </li>
            <li>
              <button type="button" aria-label="Show image 2">
                <img src="/pages/landingpage/categoryView.png" alt="Thumbnail #2" style="max-width:100%; max-height:100%;">
              </button>
            </li>
            <li>
              <button type="button" aria-label="Show image 3">
                <img src="/pages/landingpage/productDetails.png" alt="Thumbnail #3" style="max-width:100%; max-height:100%;">
              </button>
            </li>
            <li>
              <button type="button" aria-label="Show image 4">
                <img src="/pages/landingpage/cart.png" alt="Thumbnail #4" style="max-width:100%; max-height:100%;">
              </button>
            </li>
            <li>
              <button type="button" aria-label="Show image 4">
                <img src="/pages/landingpage/checkout.png" alt="Thumbnail #5" style="max-width:100%; max-height:100%;">
              </button>
            </li>
          </ul>
        </div>
      </div>


      <div class="product-information accordion">

        <div class="product-longDescription">
          <h2>Product details</h2>
          <div class="container-panel">
          <p>After signing up, you’ll answer a short onboarding interview with fewer than 10 questions so you can be matched to relevant studies.</p><p>Then you’ll see a list of available shopping tasks, such as <em>breakfast cereal</em>. Some may show an incentive badge if you’re a fit for that study. Because places are limited, it pays to be quick — complete the task in time, and you’ll earn the reward.</p><p>Even if a task doesn’t have an incentive attached, taking part can still help build your profile for future studies.</p>
          </div>
        </div>

          <details open="" name="productDetails-faq1" aria-labelledby="faq1-heading">
            <summary class="accordion-summary-header">
              <span class="fs-accordion-markerGroup" aria-hidden="true">
                <svg class="fs-accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
                  <use href="#marker-closed"></use>
                </svg>
                <svg class="fs-accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
                  <use href="#marker-open"></use>
                </svg>
              </span>
              <h3 id="faq1-heading">Is this a real shop?</h3>
            </summary>

            <div class="accordion-details-panel">
              <p>
                No. It is a simulated shopping experience used for research. You are not buying physical products. 
              </p>
            </div>
          </details>
        

        <details aria-labelledby="faq2-heading">
          <summary class="accordion-summary-header">
            <span class="fs-accordion-markerGroup" aria-hidden="true">
              <svg class="fs-accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-closed"></use>
              </svg>
              <svg class="fs-accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-open"></use>
              </svg>
            </span>          
            <h3 id="faq2-heading">Do I need to spend any money?</h3>
          </summary>
          <div class="accordion-details-panel">
            <p>No. There is no real checkout payment required to take part. While we do include a checkout page as part of the simulated shopping experience... it will not accept your payment details.</p>
          </div>
        </details>

        <details aria-labelledby="faq3-heading">
          <summary class="accordion-summary-header">
            <span class="fs-accordion-markerGroup" aria-hidden="true">
              <svg class="fs-accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-closed"></use>
              </svg>
              <svg class="fs-accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-open"></use>
              </svg>
            </span>          
            <h3 id="faq3-heading">How do rewards work?</h3>
          </summary>
          <div class="accordion-details-panel">
            <p>We'll let you know upfront if you match the needs of a research study. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
            <p><em>[Payment methods - PayID for Australians?]</em></p>
          </div>
        </details>

        <details aria-labelledby="faq4-heading">
          <summary class="accordion-summary-header">
            <span class="fs-accordion-markerGroup" aria-hidden="true">
              <svg class="fs-accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-closed"></use>
              </svg>
              <svg class="fs-accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-open"></use>
              </svg>
            </span>          
            <h3 id="faq4-heading">How long does a study take?</h3>
          </summary>
          <div class="accordion-details-panel">
            <p>Consectetur adipiscing elit. Donec sed odio dui.</p>
          </div>
        </details>

        <details aria-labelledby="faq5-heading">
          <summary class="accordion-summary-header">
            <span class="fs-accordion-markerGroup" aria-hidden="true">
              <svg class="fs-accordion-marker-icon svg-closed" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-closed"></use>
              </svg>
              <svg class="fs-accordion-marker-icon svg-open" viewBox="0 0 24 24" focusable="false">
                <use href="#marker-open"></use>
              </svg>
            </span>          
            <h3 id="faq5-heading">What if I wouldn't buy any of the items shown to me?</h3>
          </summary>
          <div class="accordion-details-panel">
            <p>Honestly, that's okay. A truthful answer is more valuable than anything else. </p>
          </div>
        </details>
        
      </div>
    </article>