:root {
  --fs-palette-lightest: hsla(337, 10%, 95%, 1);
  --fs-palette-light: hsla(337, 10%, 83%, 1);
  --fs-palette-middle: hsla(286, 2%, 53%, 1);
  --fs-palette-dark: hsla(270, 4%, 33%, 1);
  --fs-palette-darkest: hsla(0, 96%, 2%, 1);
  --fs-palette-light-alt: hsla(0, 36%, 92%, 1);
  --fs-palette-middle-alt: hsla(0, 71%, 40%, 1);
  --fs-palette-dark-alt: hsla(0, 100%, 25%, 1);
  --fs-palette-Flounce: hsla(180, 30%, 42%, 1);
  --fs-color-black: var(--fs-palette-darkest);
  --fs-color-white: var(--fs-palette-lightest);
  --fs-color-trueWhite: #fff;
  --fs-color-brand-primary: var(--fs-palette-dark);
  --fs-color-brand-secondary: var(--fs-palette-middle);
  --fs-color-text-primary: var(--fs-palette-darkest);
  --fs-color-text-secondary: var(--fs-palette-dark);
  --fs-color-text-tertiary: var(--fs-palette-middle);
  --fs-color-action-primary: var(--fs-color-trueWhite);
  --fs-color-action-secondary: hsla(258, 14%, 80%, 1);
  --fs-color-action-hover: var(--fs-palette-light-alt);
  --fs-color-action-pressed: var(--fs-palette-lightest);
  --fs-color-action-brand: var(--fs-palette-middle-alt);
  --fs-color-action-focus: #F2C12E;
  --fs-color-background-page: hsla(11, 10%, 93%, 1);
  --fs-color-background-page2: var(--fs-palette-middle);
  --fs-color-modalScreen-gradient2: hsla(241, 13%, 85%, .55);
  --fs-color-modalScreen-gradient1: hsla(241, 13%, 80%, .50);
  --fs-size-xs: 0.75rem;
  --fs-size-sm: 0.875rem;
  --fs-size-md: 1rem;
  --fs-size-lg: 1.25rem;
  --fs-size-xl: 1.5rem;
  --fs-size-2xl: 2.37rem;
  --fs-spacing-inset: 1.5vh;
  --fs-spacing-2xs: 3px;
  --fs-spacing-xs: 6px;
  --fs-spacing-sm: 12px;
  --fs-spacing-md: 16px;
  --fs-spacing-lg: 24px;
  --fs-spacing-xl: 32px;
  --fs-radius-sm: 4px;
}

body {
  padding: 2.5vw;
  background-color: var(--color-background-subtle);
  color: var(--color-text-primary);
  font-size: 14px;
  font-weight: var(--weight-light);
}

#everything.container {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  min-width: 200%;
}
#everything.container .wrapper {
  width: 50vw;
  background-color: var(--color-white);
  border: 1px solid var(--color-border-default);
  box-shadow: var(--boxShadow-md);
  padding: 2.5vw;
}
#everything.container .wrapper dl {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#everything.container .wrapper dl dt, #everything.container .wrapper dl dd {
  width: 100%;
}
#everything.container .wrapper .level-1 > li {
  margin-block-end: 2.5vw;
}
#everything.container .wrapper .level-1 > li dt {
  max-width: 25%;
  color: var(--color-brand-primary);
}
#everything.container .wrapper .level-2 > li dt {
  max-width: 50%;
  color: unset;
}
#everything.container .wrapper .level-2 > li dd {
  max-width: 100%;
}

h1, h2 {
  font-weight: var(--weight-bold);
}

h3 {
  font-weight: var(--weight-regular);
  margin-bottom: var(--spacing-sm);
}

p {
  margin-block-end: var(--spacing-md);
  max-width: 50rem;
}
p.filename {
  font-weight: var(--weight-bold);
  color: var(--color-brand-secondary);
  margin-bottom: 0;
}

hr {
  margin-bottom: 2.5vw;
}