@charset "UTF-8";
:root {
  --palette-beer: hsla(33, 89%, 51%, 1);
  --palette-creamBlush: hsla(28, 77%, 77%, 1);
  --palette-fieryGlow: hsla(16, 89%, 53%, 1);
  --palette-crisisRed: hsla(5, 75%, 42%, 1);
  --palette-charcoalNero: hsla(39, 3%, 14%, 1);
  /* Neutral colors */
  --color-black: var(--palette-charcoalNero);
  --color-white: #FFFFFF;
  /* Design system palette spectrum */
  --color-neutrals-000: var(--color-white);
  --color-neutrals-025: hsla(16, 47%, 98%, 1);
  --color-neutrals-050: hsla(16, 51%, 96%, 1);
  --color-neutrals-075: hsla(16, 55%, 93%, 1);
  --color-neutrals-100: hsla(16, 59%, 91%, 1);
  --color-neutrals-200: hsla(16, 64%, 81%, 1);
  --color-neutrals-300: hsla(16, 69%, 72%, 1);
  --color-neutrals-400: hsla(16, 79%, 62%, 1);
  --color-neutrals-500: var(--palette-fieryGlow);
  --color-neutrals-600: hsla(22, 68%, 43%, 1);
  --color-neutrals-700: hsla(28, 46%, 34%, 1);
  --color-neutrals-800: hsla(33, 24%, 24%, 1);
  --color-neutrals-900: var(--palette-charcoalNero);
  --color-grays-000: var(--color-white);
  --color-grays-025: hsla(0, 0%, 98%, 1);
  --color-grays-050: hsla(0, 0%, 96%, 1);
  --color-grays-075: hsla(0, 0%, 93%, 1);
  --color-grays-100: hsla(0, 0%, 91%, 1);
  --color-grays-200: hsla(0, 0%, 81%, 1);
  --color-grays-300: hsla(0, 0%, 72%, 1);
  --color-grays-400: hsla(0, 0%, 62%, 1);
  --color-grays-500: hsla(0, 0%, 53%, 1);
  --color-grays-600: hsla(0, 0%, 43%, 1);
  --color-grays-700: hsla(0, 0%, 34%, 1);
  --color-grays-800: hsla(0, 0%, 24%, 1);
  --color-grays-900: hsla(0, 0%, 14%, 1);
  --color-shadow-light: hsla(0, 0%, 43%, 0.1);
  --color-shadow-dark: hsla(0, 0%, 34%, 0.2);
  --color-backdrop-default: hsla(35, 0%, 22%, 0.75);
  /* Semantic color aliases */
  --color-brand-primary: var(--palette-fieryGlow);
  --color-brand-secondary: var(--palette-crisisRed);
  --color-text-primary: var(--color-neutrals-900);
  --color-text-secondary: hsla(23deg, 9%, 35%, 1);
  --color-text-tertiary: hsla(14deg, 7%, 40%, 1);
  --color-background-default: var(--color-neutrals-050);
  --color-background-subtle: var(--color-neutrals-025);
  --color-background-emphasized: var(--color-neutrals-100);
  --color-background-page: var(--color-white);
  --color-background-header: var(--color-white);
  --color-background-footer: var(--color-background-subtle);
  --color-border-light: var(--color-grays-100);
  --color-border-default: var(--color-grays-200);
  --color-border-strong: var(--color-neutrals-200);
  --color-panel-light: var(--color-grays-025);
  --color-panel-default: var(--color-grays-050);
  --color-panel-strong: var(--color-grays-100);
  --color-action-primary: var(--color-neutrals-500);
  --color-action-hover: var(--color-neutrals-600);
  --color-action-pressed: var(--color-grays-900);
  --color-action-brand: var(--palette-fieryGlow);
  --color-focus-ring: hsla(348, 68%, 51%, 0.5);
  --color-link: var(--color-neutrals-700);
  --color-link-hover: var(--color-neutrals-800);
  --color-link-active: var(--color-neutrals-900);
  --color-link-visited: hsla(348, 45%, 38%, 1);
  --color-link-focus-ring: hsla(348, 68%, 51%, 0.6);
  --font-display: "Abalos";
  --font-sans: Outfit, Helvetica, Calibri, sans-serif;
  --height-section-sm: 45vh;
  --height-section-md: 66vh;
  --height-section-lg: 90vh;
  --height-verticalRhythm-xs: 5vh;
  --height-verticalRhythm-sm: 10vh;
  --height-verticalRhythm-md: 15vh;
  --height-verticalRhythm-lg: 20vh;
  --spacing-none: 0;
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;
  --thickness-none: 0;
  --thickness-sm: 1px;
  --thickness-md: 2px;
  --thickness-lg: 4px;
  --thickness-xl: 8px;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-md: 1rem;
  --size-lg: 1.33rem;
  --size-xl: 1.77rem;
  --size-2xl: 2.37rem;
  --size-3xl: 3.15rem;
  --size-4xl: 4.2rem;
  --size-5xl: 5.6rem;
  --leading-sm: 0.875;
  --leading-md: 1;
  --leading-lg: 1.25em;
  --leading-xl: 1.5em;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --blur-sm: 1px;
  --blur-md: 2.5px;
  --blur-lg: 5px;
  --blur-xl: 10px;
  --boxShadow-xs: 0 var(--spacing-3xs) var(--blur-md) var(--color-shadow-light);
  --boxShadow-sm: 0 var(--spacing-3xs) var(--blur-lg) var(--color-shadow-light);
  --boxShadow-md: 0 var(--spacing-2xs) var(--blur-xl) var(--color-shadow-light);
  --transition-sm: all 0.15s ease;
  --transition-md: all 0.3s ease;
  --transition-lg: all 0.6s ease;
  --weight-light: 200;
  --weight-regular: 300;
  --weight-bold: 500;
  --weight-heavy: 600;
}

/**
 * @license
 * MyFonts Webfont Build ID 3867246, 2020-12-16T11:57:38-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Forrest Bold by Fenotype
 * URL: https://www.myfonts.com/products/bold-forrest-511451
 * Copyright: Copyright © 2023 Monotype Imaging Inc. All rights reserved.
 * 
 * © 2023 MyFonts Inc. */
@font-face {
  font-family: "Abalos";
  src: url("../webfonts/Abalos/OTAbalos-Semibold.woff2") format("woff2"), url("../webfonts/Abalos/OTAbalos-Semibold.otf") format("otf");
}
html {
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: var(--weight-light);
}
@media (min-width: 500px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
  width: clamp(150px, 100%, var(--screen-sm));
}
p strong {
  font-weight: var(--weight-regular);
}
p.disclaimer {
  font-size: var(--size-xs);
}

a {
  color: var(--link);
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: auto;
}
a:hover {
  color: var(--hover);
  text-underline-offset: var(--spacing-xxs);
}
a:focus {
  background-color: var(--focus);
  outline: var(--thickness-md) solid var(--focus);
  outline-offset: var(--thickness-none);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: var(--weight-light);
  line-height: 1;
}
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
  outline-width: var(--thickness-lg);
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: var(--weight-regular);
}

h1, h2, h3 {
  margin-bottom: var(--spacing-md);
}

h4, h5, h6 {
  margin-bottom: 0;
}

footer h2.heading {
  color: var(--footer-heading-color);
}

.display {
  font-family: var(--font-display);
  font-size: 0.92em;
}

.text-4xl {
  font-size: var(--size-5xl);
}

.text-3xl {
  font-size: calc(var(--size-3xl) * 0.9);
}
@media (min-width: 500px) {
  .text-3xl {
    font-size: var(--size-3xl);
  }
}

.text-2xl {
  font-size: calc(var(--size-2xl) * 0.9);
}
@media (min-width: 500px) {
  .text-2xl {
    font-size: var(--size-2xl);
  }
}

.text-xl {
  font-size: calc(var(--size-xl) * 0.9);
}
@media (min-width: 500px) {
  .text-xl {
    font-size: var(--size-xl);
  }
}

.text-lg {
  font-size: var(--size-lg);
}

.text-md {
  font-size: var(--size-md);
}

.text-sm {
  font-size: var(--size-sm);
}

.text-xs {
  font-size: var(--size-xs);
}

ul, ol, menu {
  margin: 0;
  padding: 0;
}
ul li, ol li, menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: var(--leading-lg);
}
ul.bullets, ol.bullets, menu.bullets {
  margin-left: var(--spacing-md);
}
ul.bullets li, ol.bullets li, menu.bullets li {
  list-style: circle;
}
ul.bullets ul, ol.bullets ul, menu.bullets ul {
  margin-left: 2.5vw;
}
ul.bullets ul li, ol.bullets ul li, menu.bullets ul li {
  margin-top: var(--spacing-2xs);
}
ul.numbers, ol.numbers, menu.numbers {
  margin-left: var(--spacing-md);
}
ul.numbers li, ol.numbers li, menu.numbers li {
  list-style: decimal;
}
ul + p, ol + p, menu + p {
  margin-top: var(--leading-md);
}

.strikethrough {
  text-decoration: line-through;
}

sup {
  filter: opacity(0.5);
}
sup:hover, sup:focus {
  filter: opacity(1);
}

.no-break {
  white-space: nowrap;
}

body {
  padding: 2.5vw;
  background-color: var(--color-background-subtle);
  color: var(--color-text-primary);
  font-size: 14px;
  font-weight: var(--weight-light);
}

#everything.container {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  min-width: 200%;
}
#everything.container .wrapper {
  width: 50vw;
  background-color: var(--color-white);
  border: 1px solid var(--color-border-default);
  box-shadow: var(--boxShadow-md);
  padding: 2.5vw;
}
#everything.container .wrapper dl {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#everything.container .wrapper dl dt, #everything.container .wrapper dl dd {
  width: 100%;
}
#everything.container .wrapper .level-1 > li {
  margin-block-end: 2.5vw;
}
#everything.container .wrapper .level-1 > li dt {
  max-width: 25%;
  color: var(--color-brand-primary);
}
#everything.container .wrapper .level-2 > li dt {
  max-width: 50%;
  color: unset;
}
#everything.container .wrapper .level-2 > li dd {
  max-width: 100%;
}

h1, h2 {
  font-weight: var(--weight-bold);
}

h3 {
  font-weight: var(--weight-regular);
  margin-bottom: var(--spacing-sm);
}

p {
  margin-block-end: var(--spacing-md);
  max-width: 50rem;
}
p.filename {
  font-weight: var(--weight-bold);
  color: var(--color-brand-secondary);
  margin-bottom: 0;
}

hr {
  margin-bottom: 2.5vw;
}