.fs-definition {

	border: 1px solid var(--fs-color-border-light);
	border-radius: var(--fs-radius-none);
	padding: var(--fs-spacing-xs) var(--fs-spacing-sm);

	.fs-definition-percentage {
		border: 1px solid var(--fs-color-border-light);
		font-family: var(--fs-font-sans);
		font-size: var(--fs-size-lg);
		font-weight: var(--fs-weight-bold);
		padding: 0 var(--fs-spacing-2xs);
		text-align: end;

		& + .label {
			font-weight: var(--fs-weight-bold);
		}
	}

	.fs-definition-title {
		font-size: var(--fs-size-md);
		font-weight: var(--fs-weight-bold);
		line-height: var(--fs-btn-size-md);
		margin: 0;
	}

	.fs-definition-explanation {
		font-size: var(--fs-size-xs);
		font-weight: var(--fs-weight-light);
		margin: 0;		
	}

	.fs-chartcolors {
		display: flex;
		> .item {
			display: block;
			width: 100%;
			min-width: var(--fs-btn-size-md);
			min-height: var(--fs-btn-size-md);
		}
	}

	.fs-btn.btn-icon {
		padding: var(--fs-spacing-2xs);
		border-color: var(--fs-color-border-default);
		.icon {
			display: flex;
			align-content: center;
			justify-content: center;
			width: var(--fs-btn-size-md);
			height: var(--fs-btn-size-md);
			svg {
				width: var(--fs-btn-size-sm);
				height: var(--fs-btn-size-sm);
				> * {
					fill: var(--fs-color-gray-600);
				}
			}
		}
		&:hover svg > * {
			fill: var(--fs-color-action-tertiary-font);				
		}
	}
}

.fs-definition {
	display: grid;
	grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "percentage title swatch"
    "lock       			delete";
  grid-gap: var(--fs-spacing-xs) var(--fs-spacing-sm);
	max-width: 500px;

  .fs-definition-percentage-wrapper {
    grid-area: percentage;
    justify-self: start;
    align-self: start; 

    display: flex;
    flex-direction: row;
    gap: var(--fs-spacing-2xs);
    align-items: center;
  }

	.fs-definition-title-wrapper,
	.fs-definition-explanation-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: start;
		gap: var(--fs-spacing-sm);
		.fs-definition-title {
			flex-grow: 1;
		}
		.fs-definition-explanation {
			flex-grow: 1;
		}
		.fs-btn {
			display: none;
		}
	}	

  .fs-definition-title-wrapper {
    grid-area: title;
    align-items: center;
    min-width: 0;
  }  

  .fs-definition-explanation-wrapper {
    grid-area: explanation;
    align-self: start;
    min-width: 0;
  }

  .fs-definition-lock-wrapper  {
  	grid-area: lock;
  	justify-content: center;
  }

  .fs-chartcolors {
    grid-area: swatch;
    justify-self: stretch;
    align-self: stretch;
  }

}

.fs-definition {


}