.demo-page {
	h2 {
		margin-block-start: 2rem;
		margin-block-end: 0;

	}

	.demo-notes {
		max-width: 40rem;
		margin-inline: auto;
		h2 {
			font-weight: var(--fs-weight-bold);
			margin-block-end: var(--fs-spacing-md);
		}
		h3 {
			font-weight: var(--fs-weight-bold);
			margin-block-end: var(--fs-spacing-md);
		}
		p {
			line-height: var(--fs-size-xl);

			> strong	{
				font-weight: var(--fs-weight-bold); 
			}
		}
		p + p {
			margin-block-start: var(--fs-spacing-sm);
		}
		p + h3 {
			margin-block-start: var(--fs-spacing-lg);
		}
		.highlight {
			font-weight: var(--fs-weight-bold);
			background-color: var(--fs-color-bright-yellow-light);
		}
		.tertiary {
			color: var(--fs-color-text-tertiary);
		}	
		.future {
			color: var(--fs-color-text-tertiary); 
			font-style: italic;
			//background-color: var(--fs-color-core-100);
		}
	}
}

.demo-page .demo-recruitSegment-wrapper {
	&.fs-recruitGroup {
		border: unset;
	}
	.fs-recruitSegment {
		border: var(--fs-thickness-sm) dashed var(--fs-color-border-light);
	}
}

.demo-page #fs-recruitmentQuestions-dataCollection .fs-stepper-rail {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: var(--fs-spacing-xl);
}

.demo-page #fs-demo-stepper-dataCollection .fs-stepper {
	max-width: 600px;
	min-height: 50vh;
	border: var(--fs-thickness-sm) solid var(--fs-color-border-default);
	background: var(--fs-color-background-subtle); 
	padding-block: var(--spacing-md);
    padding-inline: var(--spacing-md);

	.fs-stepper-image-wrapper {
		margin-block-start: 1rem;
		max-width: 100%;

		img {
			max-width: 25%;
		}		
	}
} 

.demo-page .demo-wrapper-boostIncentivesOverlay,
.demo-page .demo-wrapper-loosenCriteriaOverlay {
	display: flex;
	flex-direction: row;
	justify-content: end;
	overflow: hidden;

	background-color: var(--fs-color-modalScreen-gradient2);
	padding-block: 10vh;
}

.demo-page .demo-wrapper-boostIncentivesOverlay #fs-incentiveboost,
.demo-page .demo-wrapper-loosenCriteriaOverlay #fs-loosencriteria  {
	width: 390px;
	height: 844px;
}