@use 'fs-variables' as *;

.fs-tiles {
	display: grid;
	gap: var(--fs-spacing-xs);
	grid-template-columns: repeat(2, 1fr);
	container-type: fs-tiles / inline-size;
	margin-block-start: 2.5vh;
	
	@container (width > 500px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@container (width > 900px) {
		grid-template-columns: repeat(auto-fit, minmax(125px, 250px));
	}
	.fs-tile {
		a {
			background: radial-gradient(farthest-corner at 200% 0%, var(--fs-palette-dark), var(--fs-palette-dark));
			color: var(--fs-palette-light);
			font-size: var(--fs-size-sm);
			line-height: 1.1;
			text-decoration: none;
			padding: 1.25vh;
			display: block;
			border: 1px solid var(--fs-palette-middle);
			border-radius: var(--fs-radius-sm);
			height: 100%;
			transition: var(--fs-transition-md);
		}
	}
	&.fs-tiles-tertiary .fs-tile {
		margin-block-start: 0;
		a:hover {
			background: radial-gradient(farthest-corner at 200% 0%, var(--fs-palette-middle), var(--fs-palette-dark));
			color: var(--fs-palette-lightest);
			//text-decoration: underline;
			// text-decoration-color: var(--fs-palette-lightest);
		}
	}
}