.fs-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2xs);

  border: var(--thickness-md) solid transparent;
  border-radius: var(--radius-md);

  font-family: var(--font-sans);
  font-size: var(--size-md);
  font-weight: var(--weight-regular);
  text-align: center;
  text-decoration: none;
  transition: var(--transition-sm);

  padding-block: var(--spacing-xs); 
  padding-inline: var(--spacing-md);

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &:focus {
    outline: var(--thickness-lg) dashed var(--color-focus-ring);
    outline-offset: -1px;
  }

  &.btn-primary {
    color: var(--fs-color-text-primary);
    background: var(--fs-color-action-primary);
    border: 2px solid var(--fs-color-text-primary);
    svg > path {
      stroke: var(--fs-color-text-primary);
    }

    &:hover,
    &:active {
      background: var(--fs-palette-middle-alt) !important;
      svg > path {
        //stroke: var(--fs-color-action-brand);
      }
    } 
  }
  &.btn-secondary {
    color: var(--fs-color-text-secondary);
    background: radial-gradient(farthest-corner at 200% 0%, var(--fs-palette-dark), var(--fs-palette-dark));
    border: 1px solid var(--fs-palette-middle);
    svg > path {
      stroke: var(--fs-color-text-secondary);
    }

    &:hover,
    &:active {
      background: radial-gradient(farthest-corner at 200% 0%, var(--fs-palette-middle), var(--fs-palette-dark));
      svg > path {
        //stroke: var(--fs-color-action-brand);
      }
    }     
  }

  &.btn-tertiary {
    color: var(--fs-color-trueWhite);
    background: var(--fs-palette-middle-alt);
    border: unset;
    padding: var(--fs-spacing-sm) var(--fs-spacing-md);
    &:hover,
    &:active {
      background: var(--fs-palette-darkest);
    }
  }

  &.fs-btn-icon {
    display: flex;
    flex-direction: row;
    gap: var(--fs-spacing-xs);
    align-items: center;
    padding-inline-start: 1vh;
  }
  
  .icon {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      aspect-ratio: 1 / 1;
    }
  } 
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: var(--fs-spacing-sm);
  align-content: center; 

  &.btn-group-end {
    justify-content: end;
  }
}

#storybook-root > div > .fs-btn {
  justify-self: start;
  align-self: start;
}
