.fs-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2xs);

  border: var(--thickness-md) solid transparent;
  border-radius: var(--radius-md);

  font-family: var(--font-sans);
  font-size: var(--size-md);
  font-weight: var(--weight-regular);
  text-align: center;
  text-decoration: none;
  transition: var(--transition-sm);

  padding-block: var(--spacing-xs); 
  padding-inline: var(--spacing-md);

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &:focus {
    outline: var(--thickness-lg) dashed var(--fs-color-focus-ring);
    outline-offset: -1px;
  }

  &.btn-primary {
    background: var(--fs-color-action-primary-default);
    border-width: var(--thickness-md);
    box-shadow: inset 0 0 0 var(--thickness-sm) var(--fs-color-white);
    color: var(--fs-color-action-primary-font);
    
    &:hover {
      background: var(--fs-color-action-primary-hover);
    }
    &:focus {
      border-color: var(--fs-color-white);
    }
    &:active {
      background: var(--fs-color-action-primary-active);
    }
    > svg > * {
      fill: var(--fs-color-action-primary-font);
      stroke: var(--fs-color-action-primary-font);
    }
  }

  &.btn-secondary {
    background: var(--fs-color-action-secondary-default);
    border-color: transparent;
    color: var(--fs-color-action-secondary-font);
    &:hover {
      background: var(--fs-color-action-secondary-hover);
      color: var(--fs-color-text-primary);
    }
    &:active {
      background: var(--fs-color-action-secondary-active);
    }
    > svg > * {
      fill: var(--fs-color-action-secondary-font);
      stroke: var(--fs-color-action-secondary-font);
    } 
  }

  &.btn-tertiary {
    background: var(--fs-color-action-tertiary-default);
    border-width: var(--thickness-sm);
    border-color: var(--fs-color-action-tertiary-hover);
    color: var(--fs-color-action-tertiary-font);
    &:hover {
      background: var(--fs-color-action-tertiary-hover);
      color: var(--fs-color-text-primary);
    }
    &:focus {
      border-color: var(--fs-color-white);
    }
    &:active {
      background: var(--fs-color-action-tertiary-active);
    }
    > svg > * {
      fill: var(--fs-color-action-tertiary-font);
      stroke: var(--fs-color-action-tertiary-font);
    }    
  }

  &:disabled {
    background: var(--fs-color-action-disabled-default);
    border-color: transparent;
    color: var(--fs-color-action-disabled-font);
    pointer-events: none;
    > svg > * {
      fill: var(--fs-color-action-disabled-font);
      stroke: var(--fs-color-action-disabled-font);
    }   
  }
  &.btn-sm {
    font-size: var(--size-sm);
    padding-block: var(--spacing-xs); 
    padding-inline: var(--spacing-sm);    
  }
  &.btn-lg {
    border-radius: var(--radius-lg);
    font-size: var(--size-lg);
    padding-block: var(--spacing-sm); 
    padding-inline: var(--spacing-lg);    
  }


  &.btn-icon {
    .icon {
      aspect-ratio: 1 / 1;
    }
    > svg {
      width: 1.15em;
      aspect-ratio: 1 / 1;
    }

    &.btn-iconOnly {
      padding-inline: var(--spacing-sm);
    }
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: var(--fs-spacing-sm);
  align-content: center; 

  &.btn-group-end {
    justify-content: end;
  }
}

#storybook-root > div > .fs-btn {
  justify-self: start;
  align-self: start;
}
