@use 'fs-variables' as *;
@use 'fs-logo';


#fs-onboarding {
  position: fixed;
  z-index: 1010;
  left: 0;
  right: 0;

  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  height: 100vh; 
   
  max-width: #{$screen-sm};
  margin-inline: 5vw;
  @media (min-width: $screen-sm) {
    // margin-block: 0;
    margin-inline: auto;
  }
  @media (min-width: $screen-md) {
    // margin-block: 0;
    margin-inline: auto; 
  }

  .fs-dialogue-outer {
    @media (max-width: #{$screen-sm}) {
      grid-template-columns: 1fr;
      grid-template-rows: var(--fs-logo-size-md) auto;
    }
    .fakesupermarket-logo {
      width: auto;
      height: calc( var(--fs-logo-size-md) * 2);
      aspect-ratio: 1 / 1;
      bottom: 100% ;
      img {
        max-height: unset;
      }
      @media (min-width: #{$screen-sm}) {
        width: 250%;
        height: unset;
        bottom: unset;
        right: calc( var(--fs-logo-size-md) * 1.5);
      }
    }    
  }

  header {
    @media (min-width: #{$screen-sm}) {
      align-self: start;    
      justify-self: end;
      position: relative;
      margin-top: 5vh;
    }

    #fakesupermarket-logo {
      // @include fs-logo.fs-logo-position;             
    }
    svg {
      // @include fs-logo.fs-logo-rotation;
    }
  }

  #onboarding-wrapper-outer {
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    padding-block-start: var(--spacing-md);
    @media  (min-width: #{$screen-sm}) {
      padding-block-start: 7.5vh;
    }
  }

  #onboarding-actions {
    flex: 1;
  }

  #onboarding-animationControls {
    padding-block: var(--fs-spacing-xl);
    align-self: end;
    justify-self: start;
    .fs-btn {
      display: unset;
    }
    .fs-btn:not([hidden]) {
      display: flex;
    }
  }
}

#fs-onboarding {
  #onboarding-welcome {
    color: var(--fs-color-heading-inverse);
    font-weight: 300;
    margin-bottom: var(--fs-spacing-sm);
    border-bottom: 1px solid;
  }
  #onboarding-researchPrompt {
    .fs-dialogue-title {

    }
    .fs-dialogue-text {
      padding-block: 1vh;
      padding-inline: 2.5vh;

      li {
        list-style: numeric;
        &::marker {
          font-weight: 400;
        }
      }
    }
  }
  #onboarding-help {
    margin-block-start: 5vh;
    border-block-start: 1px solid var(--fs-color-heading-inverse);
    padding-block: var(--spacing-md);
    h2 {
      font-size: var(--size-md);
      font-weight: 300;
      margin-bottom: var(--spacing-xs);
    }
  }
}