@use 'fs-variables' as *;
@use 'fs-logo';


#fs-onboarding {
  position: fixed;
  z-index: 1010;
  left: 0;
  right: 0;

  > section {
    display: grid;
    height: 100vh; 
    grid-template-rows: 1fr 3fr 1fr; 
    max-width: #{$screen-sm};
    margin: 0 auto;
  }

  header {
    align-self: end;    
    justify-self: start;
    position: relative;
    margin-top: 5vh;

    #fakesupermarket-logo {
      @include fs-logo.fs-logo-position;             
    }
    svg {
      @include fs-logo.fs-logo-rotation;
    }
  }

  #onboarding-wrapper-outer {
    align-self: stretch;
    justify-self: stretch;
    position: relative;

  }

  #onboarding-actions {
    flex: 1;
  }

  #onboarding-animationControls {
    align-self: center;
    justify-self: start;
    .fs-btn {
      display: unset;
    }
    .fs-btn:not([hidden]) {
      display: flex;
    }
  }
}

#fs-onboarding {
  #onboarding-welcome {
    color: var(--fs-color-text-tertiary);
    font-weight: 300;
    margin-bottom: var(--fs-spacing-sm);
    border-bottom: 1px solid;
  }
  #onboarding-researchPrompt {
    .fs-dialogue-title {

    }
    .fs-dialogue-text {
      padding-block: 1vh;
      padding-inline: 2.5vh;

      li {
        list-style: numeric;
        &::marker {
          font-weight: 400;
        }
      }
    }
  }
  #onboarding-actions {
    //margin-bottom: 2.5vh;
  }
}