@use "fs-variables" as *;

.fs-taskReminder {
    &.fs-dialogue .fs-dialogue-outer {
	    display: grid;
	    grid-template-rows: calc(var(--fs-logo-size-sm) + var(--fs-spacing-xs)) auto;
	    grid-template-columns: 1fr;
	    grid-gap: var(--fs-spacing-sm); 

    	@container fs-dialogue (inline-size > #{$screen-xs}) {
    		grid-template-rows: 1fr;
	    	grid-template-columns: calc(var(--fs-logo-size-sm) + var(--fs-spacing-xs)) auto;
        }   	
    }
    &.fs-dialogue .fakesupermarket-logo {
	    left: 0;
	    top: 0;
	    width: var(--fs-logo-size-sm);    	
		height: var(--fs-logo-size-sm);
		margin-block-start: var(--fs-spacing-xs);
		margin-inline-start: var(--fs-spacing-xs);
    }
    &.fs-dialogue .fs-dialogue-inner {
    	align-self: center;
    	border-top-left-radius: unset;
    	border-top-right-radius: unset;
		@container fs-dialogue (inline-size > #{$screen-xs}) {
			border-top-left-radius: unset;
    		border-bottom-left-radius: unset
		}    	
    }
    .fs-dialogue-title {
    	margin-block-end: var(--fs-spacing-sm);
    	font-size: var(--fs-size-lg);
    }
    .fs-dialogue-actions {
    	margin-block-start: var(--fs-spacing-sm);
    }
}