:root {
  --fs-percentage-width: 6rem;
}

.fs-completionSegment {
	background: transparent;
	border-radius: var(--fs-radius-none);
	padding: var(--fs-spacing-2xs) var(--fs-spacing-sm);

	.fs-completionSegment-percentage {
		font-family: var(--fs-font-sans);
		font-size: var(--fs-size-md);
		font-weight: var(--fs-weight-bold);
		padding-block: var(--fs-spacing-2xs);
		padding-inline: var(--fs-spacing-xs);
		text-align: end;

		& + .label {
			font-weight: var(--fs-weight-bold);
		}
	}
	.fs-completionSegment-percentage-wrapper .fs-dataGroup {
		font-size: var(--fs-size-md);
		font-weight: var(--fs-weight-bold);
		line-height: var(--fs-btn-size-md);
	}
	.fs-inputGroup-quota {
		font-size: var(--fs-size-xs);
		text-align: start;
	}

	.fs-completionSegment-title {
		font-size: var(--fs-size-md);
		font-weight: var(--fs-weight-bold);
		line-height: var(--fs-btn-size-md);
		margin: 0;
	}

	.fs-completionSegment-explanation {
		color: var(--fs-color-text-tertiary);  
		font-size: var(--fs-size-xs);
		font-weight: var(--fs-weight-light);
		line-height: var(--fs-size-sm);
		margin: 0;		
	}

	.fs-completionSegment-edit-wrapper {
		.fs-btn {
			margin-inline-start: calc( var(--fs-spacing-xs) * -1);
		}
	}

	.fs-completionSegment-actions-wrapper {
		position: relative;
		width: var(--fs-percentage-width);
		text-align: start;
		// padding-inline-start: var(--fs-spacing-sm);
	}

	.fs-chartcolors {
		display: flex;
		> .item {
			display: block;
			width: var(--fs-size-xl);
			height: var(--fs-size-xl);
		}
	}

	.fs-completionSegment-delete-wrapper {
		.fs-btn {
			margin-inline-end: calc( var(--fs-spacing-xs) * -1);
		}
	}

	.fs-btn.btn-icon {
		padding: var(--fs-spacing-2xs);
		.icon {
			display: flex;
			align-content: center;
			justify-content: center;
			width: var(--fs-btn-size-md);
			height: var(--fs-btn-size-md);
			svg {
				width: var(--fs-btn-size-sm);
				height: var(--fs-btn-size-sm);
				> * {
					fill: var(--fs-color-gray-600);
				}
			}
		}
		&:hover svg > * {
			fill: var(--fs-color-action-tertiary-font);				
		}
	}
	.fs-btn.btn-link {
		padding-block: var(--fs-spacing-2xs);
		padding-inline: var(--fs-spacing-xs);
	}
}


/* GRID and FLEX LAYOUTS */

.fs-completionSegment {
	display: grid;

	grid-template-columns: 5fr 3fr;
  grid-template-rows: auto auto;	  
  grid-template-areas:
    "title status"
    "percentage expand";
  grid-gap: var(--fs-spacing-2xs) 0;

  flex-grow: 1;

	&.open {
	  grid-template-rows: auto auto auto;
	  grid-template-areas:
	    "title  status"
    	"percentage expand"
    	"actions   .   ";		
	}


	@container completionGroup (min-width: 1000px) {
		grid-template-columns: 3fr 2fr 2fr auto;
	  grid-template-rows: auto auto ;	  
	  grid-template-areas:
	    "title  percentage status expand";
	  grid-gap: 0 var(--fs-spacing-md);

		&.open {
		  grid-template-rows: auto auto;
		  grid-template-areas:
		    "title  percentage status expand"
	    	". actions  .  . ";		
		}
	}


  .fs-completionSegment-percentage-wrapper {
    grid-area: percentage;
    justify-content: start;

    display: flex;
    flex-direction: column;
    gap: var(--fs-spacing-none);
    align-items: start;
  }

  .fs-completionSegment-title-wrapper {
    grid-area: title;
    align-items: start;
    min-width: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
  }  

  .fs-completionSegment-status-wrapper {
		grid-area: status;
    display: flex;
    justify-content: end;
    align-items: center;
	}

  .fs-completionSegment-expand-wrapper {
  	grid-area: expand;

  	flex-grow: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    align-items: flex-end;  	
  }

  .fs-completionSegment-actions-wrapper {
  	display: none;
  }

  &.open {
	  .fs-completionSegment-actions-wrapper  {
	  	grid-area: actions;

	  	display: flex;
	  	flex-direction: row;
	  	justify-content: start;
	  	justify-self: start;
	  	gap: var(--fs-spacing-md);
	  	padding-block-start: var(--fs-spacing-xs);
	  }
	}
}