@use 'fs-variables';
@mixin fs-unavailable {
  filter: blur(1px);
  opacity: 0.8;
  pointer-events: none;
  user-select: none;
}

.fs_unavailable, 
[disabled]:not(.btn) {
  @include fs-unavailable;  
  position: relative;

  &.blur-pulse {
    filter: blur(3px); 
    transition: filter 0.5s ease-in-out;
  }
}

.fs-forcefield-ripple {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  border: 35px solid var(--fs-color-unavailable-pulse);
  filter: blur(7.5px);
  opacity: 0.25;
  transform: scale(0);
  animation: ripple-expand-fade 0.6s forwards;
  z-index: 100;
}

@keyframes ripple-expand-fade {
  0% {
    opacity: 0.25;
    transform: scale(0.3);
  }
  100% {
    opacity: 0;
    transform: scale(1.75);
  }
}

.fs-pre_hidden {
  opacity: 0 !important;
  transition: none !important;
  pointer-events: none;
  display: none !important;  
}



