:root {
  --fs-input-range-trackHeight: var(--fs-spacing-xs);
  --fs-input-range-thumbWidth: var(--fs-spacing-xl);
  --fs-input-range-thumbHeight: var(--fs-spacing-xl);
}

.fs-inputGroup {
  .fs-label-wrapper {
    margin-block-end: var(--spacing-md);
  }

  .fs-inputGroup-content {
    margin-block-end: var(--fs-spacing-2xs);

    .fs-inputGroup-help {
      margin-block-end: var(--fs-spacing-sm);
    }
  }

  .fs-inputGroup-help {
    font-size: var(--fs-size-sm);
    line-height: var(--fs-size-sm);
    font-weight: var(--fs-weight-light);
    color: var(--fs-color-text-tertiary);
  }  

  .fs-input-warning:not([hidden]) {
    border-inline-start: var(--fs-thickness-lg) solid var(--fs-color-caution);
    margin-block-end: var(--fs-spacing-xs);
    padding-block: var(--fs-spacing-2xs);
    padding-inline-start: var(--fs-spacing-xs);

    font-weight: var(--fs-weight-regular);

    + input {
      background: rgb(from var(--fs-color-caution) r g b/10%);
      border-color: var(--fs-color-caution);
    }
  }

  label,
  .label {
    display: block;
    margin-block-end: var(--fs-spacing-3xs);
    font-size: var(--fs-size-md);
    font-weight: var(--fs-weight-regular);
    color: var(--fs-color-text-primary);
  } 

  label {
    cursor: pointer;
  }

  fieldset {
    border: 0;
  }

  & + .fs-inputGroup {
  	margin-block-start: var(--fs-spacing-sm);
  }
}

.fs-input {
	font-size: var(--fs-size-md);
	border: var(--fs-thickness-sm) solid var(--fs-color-border-default);
	border-radius: var(--fs-radius-xs);

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: var(--thickness-lg) solid var(--fs-color-focus-ring);
    outline-offset: 0;
  } 
}



.fs-input-date {
  display: flex;
  flex-direction: row;
  gap: var(--fs-spacing-md);
}


