.fs-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--fs-spacing-xs) + var(--fs-spacing-2xs));

  border: var(--fs-thickness-md) solid transparent;
  border-radius: var(--fs-radius-md);

  font-family: var(--fs-font-sans);
  font-size: var(--fs-size-md);
  line-height: 1em;
  font-weight: var(--fs-weight-regular);
  text-align: center;
  text-wrap-mode: nowrap;
  text-decoration: none;
  transition: var(--fs-transition-sm);

  padding-block: var(--fs-spacing-xs); 
  padding-inline: var(--fs-spacing-md);

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &:focus {
    outline: var(--fs-thickness-lg) solid var(--fs-color-focus-ring);
    outline-offset: -1px;
  } 

  &.btn-sm {
    font-size: var(--fs-size-sm);
    padding-block: var(--fs-spacing-xs); 
    padding-inline: var(--fs-spacing-sm);
    > .label {
      font-size: var(--fs-size-sm);
    }    
  }
  &.btn-lg {
    border-radius: var(--fs-radius-lg);
    font-size: var(--fs-size-lg);
    padding-block: var(--fs-spacing-sm); 
    padding-inline: var(--fs-spacing-lg); 
    > .label {
      font-size: var(--fs-size-lg);
    }        
  }


  &.btn-primary {
    background: var(--fs-color-action-primary-default);
    border-width: var(--fs-thickness-md);
    box-shadow: inset 0 0 0 var(--fs-thickness-sm) var(--fs-color-white);
    color: var(--fs-color-action-primary-font);
    padding-block: calc(var(--fs-spacing-xs) + var(--fs-spacing-2xs));
    
    &.btn-sm { 
      padding-block: var(--fs-spacing-md);
    }
    &:hover {
      background: var(--fs-color-action-primary-hover);
    }
    &:focus {
      border-color: var(--fs-color-white);
    }
    &:active {
      background: var(--fs-color-action-primary-active);
    }
    > svg > *,
    .icon svg > * {
      fill: var(--fs-color-action-primary-font);
      // stroke: var(--fs-color-action-primary-font);
    }
  }

  &.btn-secondary {
    background: var(--fs-color-action-secondary-default);
    border-color: transparent;
    color: var(--fs-color-action-secondary-font);
    &:hover {
      background: var(--fs-color-action-secondary-hover);
      color: var(--fs-color-text-primary);
    }
    &:active {
      background: var(--fs-color-action-secondary-active);
    }
    > svg > *,
    .icon svg > * {
      fill: var(--fs-color-action-secondary-font);
      // stroke: var(--fs-color-action-secondary-font);
    } 
  }

  &.btn-tertiary {
    background: var(--fs-color-action-tertiary-default);
    border-width: var(--fs-thickness-sm);
    border-color: var(--fs-color-action-tertiary-hover);
    color: var(--fs-color-action-tertiary-font);
    &:hover {
      background: var(--fs-color-action-tertiary-hover);
      color: var(--fs-color-text-primary);
    }
    &:focus {
      border-color: var(--fs-color-white);
    }
    &:active {
      background: var(--fs-color-action-tertiary-active);
    }
    &.btn-inverse {
      color: var(--fs-color-action-tertiary-hover);
      &:hover {
        color: var(--fs-color-core-200);
        background: var(--fs-color-bright-cloud-light);
      }
    }
    > svg > *,
    .icon svg > * {
      fill: var(--fs-color-action-tertiary-font);
    }    
  }

  &.btn-link {
    background: transparent;
    color: var(--fs-color-brand-primary);
    font-weight: unset;
    text-decoration: unset;
    border: var(--fs-thickness-lg) solid transparent;
    padding-block: unset;
    padding-inline: var(--fs-spacing-2xs);
    &:disabled {
      background: none;
    }
    &:hover {
      background: var(--fs-color-core-200);
      color: var(--fs-color-core-700);
      border: var(--fs-thickness-lg) solid var(--fs-color-core-200);
    }
    &:focus {
      outline-color: var(--fs-color-focus-ring);
      //outline-offset: 2px;
    }    
    > svg > *,
    .icon svg > * {
      fill: var(--fs-color-brand-primary);
    }  
  }

  &:disabled {
    background: var(--fs-color-action-disabled-default);
    border-color: transparent;
    color: var(--fs-color-action-disabled-font);
    pointer-events: none;
    > svg > *,
    .icon svg > * {
      fill: var(--fs-color-action-disabled-font);
      // stroke: var(--fs-color-action-disabled-font);
    }   
  }


  &.btn-icon {
    padding-inline: calc(var(--fs-spacing-md) - var(--fs-spacing-2xs));
    &.btn-lg {
      padding-inline: calc(var(--fs-spacing-lg) - var(--fs-spacing-xs));
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--fs-btn-size-md);
      height: var(--fs-btn-size-md);
    }
    .label {
      line-height: var(--fs-btn-size-md);
    }
    > svg,
    .icon > svg {
      width: var(--fs-btn-size-md);
      height: unset;
      aspect-ratio: 1 / 1;
      overflow: visible;
    }
    &.btn-iconOnly {
      padding-inline: var(--spacing-sm);
    }
  }
  > .label {
    white-space: nowrap;
  }

  &.btn-identityAvatar {
    gap: var(--fs-spacing-2xs);
    background: unset;
    transition: var(--fs-transition-md);
    &:hover,
    &:active {
      background: rgb(from var(--fs-color-action-secondary-hover) r g b / 25%);
      .label {
        color: var(--fs-color-text-primary);
      }
    }    
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: calc(var(--fs-logo-size-sm) / 1.5);
      aspect-ratio: 1 / 1;

      border-radius: var(--fs-logo-size-sm);
      border: var(--fs-thickness-lg) solid var(--fs-color-chart-1);
      font-size: var(--fs-size-md);
      font-weight: var(--fs-weight-light);
      color: var(--fs-color-chart-1);
    }
    .label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-weight: var(--fs-weight-bold);
      color: var(--fs-color-text-secondary);
      padding: var(--fs-spacing-xs);
      border-radius: var(--fs-radius-sm);
    }
  }
  .label > .label-extra {
    display: block;
    font-size: var(--fs-size-xs);
    font-weight: var(--fs-weight-regular);
    // line-height: var(--fs-leading-md);
    color: var(--fs-color-text-tertiary);
  }

}

.fs-btn-group {
  display: flex;
  flex-direction: row;
  gap: var(--fs-spacing-sm);
  align-content: start; 

  &.btn-group-end {
    justify-content: end;
  }
}
