.fs-dialog-overlay {
	position: fixed;
	inset-inline-start: unset;
	inset-inline-end: var(--fs-spacing-sm);
	inset-block: var(--fs-spacing-sm);
	
	display: grid;
  grid-template-rows: auto 1fr auto;

	width: 100%;
	min-height: calc(100vh - (var(--fs-spacing-sm) * 2) );
	z-index: 1055; /* Following Bootstrap's pattern for z-layering */
	
	// Real closed state
	opacity: 0;
	transform: translateX(110%);

	// Closing transition:
	// slide immediately, but delay the fade slightly so the slide remains visible
	transition:
		transform 300ms ease,
		opacity 180ms ease 120ms,
		display 300ms ease allow-discrete,
		overlay 300ms ease allow-discrete;

	background: var(--color-background-page);
	outline: var(--fs-thickness-lg) solid var(--fs-color-bright-orange-middle);
	border: var(--fs-thickness-md) solid var(--fs-color-brand-primary);
	border-radius: var(--fs-radius-lg);	

	@media (width >= 420px ) {
		max-width: 420px;
	}

	&[open] {
		opacity: 1;
		transform: translateX(0%);

		// Opening transition:
		// fade in immediately while sliding in
		transition:
			transform 300ms ease,
			opacity 180ms ease,
			display 300ms ease allow-discrete,
			overlay 300ms ease allow-discrete;
	}

	&::backdrop {
		background: rgb(0 0 0 / 0);
		transition:
			background 300ms ease,
			display 300ms ease allow-discrete,
			overlay 300ms ease allow-discrete;
	}

	&[open]::backdrop {
		// background: rgb(0 0 0 / 0.45);
		background:  //var(--color-backdrop-default);
	    linear-gradient(217deg, var(--color-core-400), transparent 90.71%),
	    linear-gradient(127deg, var(--color-bright-orange-light), transparent 90.71%),
	    linear-gradient(336deg, var(--color-bright-orange-middle), transparent 90.71%);		
	}



	// &[open]::backdrop {
	// 	background:  //var(--color-backdrop-default);
	//     linear-gradient(217deg, var(--color-core-400), transparent 90.71%),
	//     linear-gradient(127deg, var(--color-bright-orange-light), transparent 90.71%),
	//     linear-gradient(336deg, var(--color-bright-orange-middle), transparent 90.71%);
	// }


	.fs-dialog-header {
		display: flex;
		flex-direction: row;
		gap: var(--spacing-md);
		align-items: center;

		padding-block-start: var(--fs-spacing-md);
		padding-inline-start: var(--fs-spacing-lg);
		padding-inline-end: var(--fs-spacing-md);
		padding-block-end: var(--fs-spacing-sm);
		background: var(--fs-color-background-header);
		border-block-end: var(--fs-thickness-sm) solid var(--fs-color-border-light);

		.fs-dialog-title {
			flex: 1;

			margin-block-end: unset;
			color: var(--fs-color-text-primary);
			font-weight: var(--fs-weight-bold);
		}
	}

	.fs-dialog-body {
		display: grid;
		padding: var(--fs-spacing-md);
		height: 100%;
	}	

	.fs-dialog-footer {
		display: grid;
		padding: var(--spacing-md);
		padding-block-end: calc(var(--fs-spacing-md) + var(--fs-spacing-xs));
		// height: 100%;
		border-block-start: var(--fs-thickness-sm) solid var(--fs-color-border-default);
	}
}

@starting-style {
  .fs-dialog-overlay[open] {
    opacity: 0;
    transform: translateX(110%);
  }
	.fs-dialog-overlay[open]::backdrop {
		// background: rgb(0 0 0 / 0);
		background:  //var(--color-backdrop-default);
	    linear-gradient(217deg, var(--color-core-400), transparent 0%),
	    linear-gradient(127deg, var(--color-bright-orange-light), transparent 0%),
	    linear-gradient(336deg, var(--color-bright-orange-middle), transparent 0%);		
	}  
}