@use "fs-variables" as *;

#fs-interview {
	position: relative;
	z-index: 1001;
	top: 0;
	right: 0;
	bottom: 0;
	box-sizing: content-box;
	margin-inline: var(--fs-spacing-sm);
	@media (min-width: #{$screen-md}) {
		margin-inline-start: calc(var(--fs-logo-size-md) * 0.25);
		margin-inline-end: 0;
	}

	.fs-dialogue-outer {
		grid-template-rows: var(--fs-logo-size-md) auto;
		grid-template-columns: 1fr;

		margin-block-start: var(--fs-thickness-xl);
		outline: var(--fs-thickness-xl) solid var(--fs-color-bright-orange-middle);
    	border-width: var(--fs-thickness-lg);
		overflow: unset;
		@media (min-width: #{$screen-md}) {
			grid-template-rows: 1fr;
			grid-template-columns: calc(var(--fs-logo-size-md) * 0.5) auto;
		}
	}

	.fakesupermarket-logo {
		width: var(--fs-logo-size-md);
		height: var(--fs-logo-size-md);
		top: calc(var(--fs-logo-size-md) * -0.5 - var(--fs-spacing-xs));
		left: var(--fs-spacing-md);
		transform: rotate(-5deg);
		@media (min-width: #{$screen-md}) {
		  top: var(--fs-spacing-md);
		  left: calc(var(--fs-logo-size-md) * -0.5 - var(--fs-spacing-2xs));
		}
		svg {
		  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.1));
		}
	}

	#interview-wrapper-outer {
		min-width: 0;
	}

	.fs-carousel-slide {
		box-sizing: border-box;
		padding-inline: var(--fs-spacing-md);
		padding-block-start: var(--fs-spacing-lg);
		@media (min-width: $screen-sm) {
			padding-inline: var(--fs-spacing-lg);
			padding-block-start: calc(var(--fs-logo-size-md) * .3);
		}			
	}

	.fs-interview-title {
		font-weight: var(--fs-weight-bold);
    font-family: var(--fs-font-display);
    font-size: var(--fs-size-2xl);
	}

	p + p {
		margin-block-start: var(--fs-spacing-sm);
	}

	.fs-interview-question {
		// padding-block: var(--spacing-md);
		// padding-inline: var(--spacing-md);

		hr {
			border: 0;
			height: var(--fs-thickness-md);
			background: var(--fs-color-core-300);
			margin-block: var(--fs-spacing-lg);
		}
	}

	.fs-interview-product {
		display: block;
		background: var(--fs-color-trueWhite);
		border-radius: var(--fs-radius-sm);
		padding: var(--fs-spacing-sm);
		box-shadow: var(--fs-boxShadow-sm);
		position: relative;
			margin-left: calc( var(--fs-spacing-xs) * -1);
			margin-right: calc( var(--fs-spacing-xs) * -1);

		.cart-item-product {
			border-block-start: 0;
			border-block-end: 0;
			padding: 0;
		}
		.cart-item-subtotal {
			font-weight: var(--weight-regular);
		}
	}
}



#fs-interview-product {
	box-shadow: 0 1px 15px rgba(0,0,0,0.15);
}
#fs-interview-controls {
	padding-inline: var(--fs-spacing-md);
	padding-block-end: var(--fs-spacing-lg);
	@media (min-width: $screen-sm) {
		padding-inline: var(--fs-spacing-lg);
		padding-block-start: unset;
	}	
}
#fs-interview .badge-information {
	border-color: var(--fs-color-core-300);
}