@use "fs-variables" as *;

.fs-infoCheckoutPostscript {
    .fs-dialogue-outer {
	    display: block; 
	    margin-inline: auto;
	    // max-width: 85%;
    	@container fs-dialogue (inline-size > #{$screen-sm}) {
			max-width: 600px;
        } 	    
    }
    .fakesupermarket-logo {
    	display: none;
    }
    .fs-dialogue-inner {
    	background: unset;
    }	
}

#checkout #orderSummary.incomplete {
	
	.fs-dialogue-outer {
		background: unset;
		border: unset;
		outline: unset;
		padding: unset;
	}

	.fs-dialogue-inner {
		background: unset;
	}
}
