#fs-interview {
  .fs-interview-multipleSelect-reasons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--fs-spacing-xs);
    margin-block-start: var(--fs-spacing-xl);

    .fs-pill {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;

      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;

        & + span {
          padding: var(--fs-spacing-sm) var(--fs-spacing-md);
          margin: 0;
          margin-block-end: 0;
          border: 2px solid var(--fs-palette-light);
          border-radius: 999px;
          background: transparent;
          color: #333;
          font-size: 1em;          
        }

        // Focus style on the pill when input is focused (keyboard users)
        &:focus + span {
          outline: 2px solid var(--fs-color-action-focus);
          //outline-offset: 2px;
        }
        // Checked style
        &:checked + span {
          background: var(--fs-color-trueWhite);
          border-color: var(--fs-color-action-brand);
        }
      }
    }
  }

}