@use "fs-variables" as *;

.fs-dialogue {
  container: fs-dialogue / inline-size;
  .fs-dialogue-outer {
    display: grid;

    background: var(--fs-color-panel-inverse);
    color: var(--fs-color-text-inverse);
    border-radius: var(--fs-radius-none);

    padding-block: var(--spacing-md);
    padding-inline: var(--spacing-md);

    .fs-dialogue-inner {
      display: grid;
      grid-template-rows: auto auto;
      grid-gap: var(--spacing-sm);

      .fs-dialogue-actions {
        justify-self: start;
      }
    }

    @container fs-dialogue (max-width: #{$screen-xs}) {
      grid-template-columns: var(--size-2xl) auto ;
      grid-gap: var(--spacing-sm);
      // border: 1px dashed orange;

      padding-block: var(--spacing-sm);
      padding-inline: var(--spacing-sm);
      padding-inline-end: var(--spacing-md); 
    }

    @container fs-dialogue (min-width: #{$screen-xs}) {
      grid-template-columns: var(--size-3xl) auto var(--spacing-md);
      grid-gap: var(--spacing-sm);
      // border: 1px dashed yellow;

      .fs-dialogue-inner {
        grid-gap: var(--fs-spacing-sm);
      }              
    }

    @container fs-dialogue (min-width: #{$screen-sm}) {
      // from 400px wide
      grid-template-columns: var(--size-3xl) auto var(--spacing-md);
      grid-gap: var(--spacing-md);
      // border: 1px dashed blue;
        .fs-dialogue-inner {
          align-items: center;
          grid-gap: var(--fs-spacing-md);
        }
        .fs-dialogue-content {
          flex: 1;
        }
        .fs-dialogue-actions {
          flex: 0;
        }      
    }    
    @container fs-dialogue (min-width: #{$screen-md}) {
      // from 600px wide
      grid-template-columns: var(--size-3xl) auto var(--size-3xl);
      // border: 1px dashed green;
      .fs-dialogue-inner {
        align-items: center;
      }
      .fs-dialogue-content {
        padding-inline-end: var(--size-3xl);
      }
      .fs-dialogue-actions {
      }      
    }    
    @container fs-dialogue (min-width: #{$screen-lg}) {
      // from 900px wide
      grid-template-columns: 1fr 2fr;
      //border: 1px dashed red;
      .fs-dialogue-inner {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
      }
      .fakesupermarket-logo {
        justify-content: end;
      }      
    }    
  }
}


.fs-dialogue {
  .fs-dialogue-title {
    margin-block-start: 0;
    margin-block-end: var(--fs-spacing-xs);
    font-size: var(--fs-size-lg);
    font-weight: 400;
  }
  &.fs-dialogue-lg .fs-dialogue-title {
    font-size: var(--fs-size-xl);
  }
  &.fs-dialogue-inline {
    .fs-dialogue-title { 
      margin-block-start: 0;
      margin-block-end: var(--fs-spacing-2xs);
    }
  }  
}

.fs-dialogue {
  .fs-dialogue-text {
    font-size: var(--fs-size-sm);
    color: var(--fs-color-text-inverse);
    @container fs-dialogue (min-width: #{$screen-xs}) {
      // font-size: var(--fs-size-md);
    }
  }

  ul {
    li {
      & + li {
        margin-block-start: var(--fs-spacing-sm);
      }
    }
  }
}


/* ASSORTED EXCEPTIONS */
footer .fs-dialogue .fs-dialogue-outer {
  padding-block-start: var(--spacing-lg);
}