:root {
  --fs-percentage-width: 6rem;
}

.fs-recruitSegment {
	background: transparent;
	border-radius: var(--fs-radius-none);
	padding: var(--fs-spacing-2xs) var(--fs-spacing-sm);

	.fs-recruitSegment-percentage {
		font-family: var(--fs-font-sans);
		font-size: var(--fs-size-md);
		font-weight: var(--fs-weight-bold);
		padding-block: var(--fs-spacing-2xs);
		padding-inline: var(--fs-spacing-xs);
		text-align: end;

		& + .label {
			font-weight: var(--fs-weight-bold);
		}
	}
	.fs-recruitSegment-percentage-wrapper .fs-inputGroup {
		width: var(--fs-percentage-width);
	}
	.fs-recruitSegment-percentage-wrapper .fs-inputGroup-quota {
		text-align: start;
	}

	.fs-recruitSegment-title {
		font-size: var(--fs-size-md);
		font-weight: var(--fs-weight-bold);
		line-height: var(--fs-btn-size-md);
		margin: 0;
		@container recruitGroup (min-width: 500px) {
			padding-block-start: calc( var(--fs-spacing-2xs) + var(--fs-thickness-sm)*2) ;
		}
	}

	.fs-recruitSegment-explanation {
		color: var(--fs-color-text-tertiary);  
		font-size: var(--fs-size-xs);
		font-weight: var(--fs-weight-light);
		line-height: var(--fs-size-sm);
		margin: 0;		
	}

	.fs-recruitSegment-edit-wrapper {
		.fs-btn {
			margin-inline-start: calc( var(--fs-spacing-xs) * -1);
		}
	}

	.fs-recruitSegment-lock-wrapper {
		position: relative;
		width: var(--fs-percentage-width);
		text-align: start;
		padding-inline-start: var(--fs-spacing-sm);
		.fs-btn.btn-link {
			z-index: 3;
			//margin-inline-start: unset;
		}
	}

	.fs-chartcolors {
		display: flex;
		> .item {
			display: block;
			width: var(--fs-size-xl);
			height: var(--fs-size-xl);
		}
	}

	.fs-recruitSegment-delete-wrapper {
		.fs-btn {
			margin-inline-end: calc( var(--fs-spacing-xs) * -1);
		}
	}

	.fs-btn.btn-icon {
		padding: var(--fs-spacing-2xs);
		// border-color: var(--fs-color-border-default);
		.icon {
			display: flex;
			align-content: center;
			justify-content: center;
			width: var(--fs-btn-size-md);
			height: var(--fs-btn-size-md);
			svg {
				width: var(--fs-btn-size-sm);
				height: var(--fs-btn-size-sm);
				> * {
					fill: var(--fs-color-gray-600);
				}
			}
		}
		&:hover svg > * {
			fill: var(--fs-color-action-tertiary-font);				
		}
	}
	.fs-btn.btn-link {
		padding-block: var(--fs-spacing-2xs);
		padding-inline: var(--fs-spacing-xs);
		//margin-inline-start: calc( var(--fs-spacing-xs) * -1);
	}
}


/* GRID and FLEX LAYOUTS */

.fs-recruitSegment {
	display: grid;

	grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto;	  
  grid-template-areas:
    "title expand"
    "percentage .";
  grid-gap: var(--fs-spacing-2xs) 0;

	&.open {
	  grid-template-rows: auto auto auto;
	  grid-template-areas:
	    "title  expand"
    	"percentage ."
    	"lock       . ";		
	}


	@container recruitGroup (min-width: 500px) {
		grid-template-columns: 4fr 3fr 1fr;
	  grid-template-rows: auto auto ;	  
	  grid-template-areas:
	    "title  percentage expand";
	  grid-gap: 0 var(--fs-spacing-md);

		&.open {
		  grid-template-rows: auto auto auto;
		  grid-template-areas:
		    "title  percentage expand"
	    	".   		lock       . ";		
		}
	}


  .fs-recruitSegment-percentage-wrapper {
    grid-area: percentage;
    justify-content: start;

    display: flex;
    flex-direction: row;
    gap: var(--fs-spacing-sm);
    align-items: center;

    .fs-inputGroup {
    	display: flex;
    	flex-direction: row;
    	gap: var(--fs-spacing-2xs);
    	align-items: center;

    	.fs-input {
    		flex-grow: 1;
    	}
    }
  }

  .fs-recruitSegment-title-wrapper {
    grid-area: title;
    align-items: start;
    min-width: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }  

  .fs-recruitSegment-expand-wrapper {
  	grid-area: expand;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    align-items: flex-end;  	
  }

  .fs-recruitSegment-edit-wrapper,
  .fs-recruitSegment-lock-wrapper,
  .fs-recruitSegment-delete-wrapper {
  	display: none;
  }

  &.open {
	  .fs-recruitSegment-edit-wrapper  {
	  	display: none !important; // unset;
	  	grid-area: edit;
	  	justify-content: center;
	  }

	  .fs-recruitSegment-lock-wrapper  {
	  	display: flex;
	  	flex-direction: row;
	  	justify-content: start;

	  	grid-area: lock;
	  	justify-self: start;

	  }

	  .fs-recruitSegment-delete-wrapper {
	  	display: none !important; // unset;
	  	grid-area: delete;
	  	justify-self: end;
	  }
	}
}