@use "fs-variables" as *;

.fs-dialogue {
  container: fs-dialogue / inline-size;

    .fs-dialogue-outer {
      background: var(--fs-color-background-dialogue);
      border: var(--fs-thickness-md) solid var(--fs-color-brand-primary);
      outline: var(--fs-thickness-lg) solid var(--fs-color-bright-orange-light);
      border-radius: var(--fs-radius-lg);
      background-clip: padding-box;
      color: var(--fs-color-text-dialogue);
      overflow: hidden;
    }

    &.fs-dialogue-md {
      .fs-dialogue-outer {
        border-radius: 1.25vw;
      }
    }  
    &.fs-dialogue-lg {
      .fs-dialogue-outer {
        // border-radius: 2.5vw;
      }
    }

  .fakesupermarket-logo {
    display: grid;
    align-content: start;
    justify-items: end;
    position: relative;

    aspect-ratio: 1 / 1;
    margin-block-end: unset;

    img {
      max-height: unset;
    }
  } 

  &.fs-dialogue-md,
  &.fs-dialogue-lg {
    .fakesupermarket-logo {
      // width: var(--fs-logo-size-md);
      // height: var(--fs-logo-size-md);
      // top: calc(var(--fs-logo-size-md) * -0.5 - var(--fs-spacing-xs));
      // // left: calc(var(--fs-logo-size-md) * 0.125);
      // @media (min-width: #{$screen-md}) {
      //   width: var(--fs-logo-size-md);
      //   height: var(--fs-logo-size-md);
      //   top: calc(var(--fs-logo-size-md) * 0.3);
      //   left: calc(var(--fs-logo-size-md) * -0.5 - var(--fs-spacing-2xs));
      // }
    }
  }



  .fs-dialogue-outer {
    display: grid;

    @container fs-dialogue (max-width: #{$screen-xs}) {
      // grid-template-columns: var(--fs-size-2xl) auto ;
      // grid-gap: var(--fs-spacing-sm);

      // padding-block: var(--fs-spacing-sm);
      // padding-inline: var(--fs-spacing-sm);
      // padding-inline-end: var(--fs-spacing-md); 
    }

    @container fs-dialogue (min-width: #{$screen-xs}) {
      // grid-template-columns: var(--fs-size-3xl) auto;
      // grid-gap: var(--fs-spacing-sm);

      .fs-dialogue-inner {
        // grid-gap: var(--fs-spacing-sm);
      }              
    }

    &.fs-dialogue-xs,
    &.fs-dialogue-sm {
      .fs-dialogue-inner {
        // padding-block-start: var(--fs-spacing-xs);
      }
    }
    &.fs-dialogue-md,
    &.fs-dialogue-lg {
      .fs-dialogue-inner {
        // padding-inline: var(--fs-spacing-lg);
      }
    } 
  }  
}

.fs-dialogue-inner {
  background: var(--fs-color-background-active);
  border-radius: calc(var(--fs-radius-lg) - var(--fs-thickness-md));
  padding: var(--fs-spacing-sm);
  color: var(--fs-color-text-dialogue);
}

.fs-dialogue {
  .fs-dialogue-title {
    margin-block-start: 0;
    margin-block-end: var(--fs-spacing-2xs);
    font-size: var(--fs-size-md);
    font-weight: var(--fs-weight-bold);
  }

  &.fs-dialogue-lg .fs-dialogue-title {
    // font-size: var(--fs-size-2xl);
  }
  &.fs-dialogue-inline {
    .fs-dialogue-title { 
      // margin-block-start: 0;
      // margin-block-end: var(--fs-spacing-2xs);
    }
  }  
}

.fs-dialogue {
  .fs-dialogue-text {
    font-size: var(--fs-size-sm);
    color: var(--fs-color-text-dialogue);
  }

  ul {
    margin-inline-start: var(--fs-spacing-sm);
    li {
      & + li {
        margin-block-start: var(--fs-spacing-sm);
      }
    }
  }
}


/* ASSORTED EXCEPTIONS */
.fs-dialogue {
  .fs-dialogue-actions {
    justify-self: start;
  }
}


.fs-dialogue {
  .fs-dialogue-inner {
    li {
      list-style: numeric;
      &::marker {
        font-size: var(--fs-size-xs);
        font-weight: var(--fs-weight-light);
        line-height: calc(var(--fs-size-lg) * var(--fs-leading-lg));
        color: var(--fs-color-brand-primary);
      }
    }  
  }
}
