@use 'fs-logo';

#fs-interview {
	position: relative;
	z-index: 1100;
	top: 0;
	right: 0;
	bottom: 0;

	box-sizing: content-box;

  header {
    align-self: end;    
    justify-self: start;
    position: relative;
    margin-top: 5vh;

    #fakesupermarket-logo {
      @include fs-logo.fs-logo-position;     
    }
    svg {
      @include fs-logo.fs-logo-rotation;    
    }
  }


	.fs-dialogue {
		padding: 5vh 3.75vh;
	}
	#interview-wrapper-inner {

	}

	#fs-interview-product {
		display: block;
		background: var(--fs-color-trueWhite);
		border-radius: var(--fs-radius-sm);
		padding: var(--fs-spacing-sm);
		color: var(--fs-color-text-primary);
		position: relative;
			margin-left: calc( var(--fs-spacing-md) * -1);
			margin-right: calc( var(--fs-spacing-md) * -1);

		.cart-item-product {
			border-block-start: 0;
			border-block-end: 0;
			padding: 0;
		}
		.cart-item-subtotal {
			font-weight: var(--weight-regular);
		}
	}

	label {
		color: var(--fs-color-text-primary);
		font-size: var(--fs-size-lg);
		font-weight: 300;
		margin-block-start: var(--fs-spacing-lg);
		margin-block-end: var(--fs-spacing-sm);
	}

	.fs-interview-LikertQuestion-adjectives {
		color: var(--fs-color-text-tertiary);
		font-size: var(--fs-size-sm);
		font-weight: 200;
		margin-block-start: var(--fs-spacing-xs);
	}
}