:root {
	--fake-brand-pure-purple: hsla(309, 68%, 26%, 1);
	--fake-brand-greek-aubergine: hsla(309, 60%, 15%, 1);
	--fake-brand-victoria-peak: hsla(163, 90%, 23%, 1);
	--fake-brand-peach-nirvana: hsla(22, 79%, 75%, 1);
	--fake-brand-beaten-copper: hsla(11, 44%, 31%, 1);
	
}