.fs-input-checkboxGroup {
  .fs-input-checkbox-useModern .fs-input-checkbox-native {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    appearance: none;
    pointer-events: none;
    border: unset;
  }
  .fs-input-checkbox-useNative .fs-input-checkbox-modern {
    display: none;
  }
}

.fs-inputGroup-checkbox {
  display: block;
}

.fs-inputGroup label.fs-input-checkbox-labelGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.fs-input-checkbox-native + .fs-input-checkbox-labelGroup > .fs-input-checkbox-modern {
  .check-empty {
    display: unset;
    color: var(--fs-color-text-primary); 
  } 
  .check-filled {
    display: none;
    color: var(--fs-color-brand-primary); 
  }           
}
.fs-input-checkbox-native:checked + .fs-input-checkbox-labelGroup > .fs-input-checkbox-modern {
  .check-empty {
    display: none; 
  } 
  .check-filled {
    display: unset;
  }
}
.fs-input-checkbox-native:focus + .fs-input-checkbox-labelGroup .fs-input-checkbox-modern {
  outline: var(--fs-thickness-lg) solid var(--fs-color-focus-ring);
  outline-offset: var(--fs-thickness-md);
}


  .fs-input-checkbox-modern {
    margin-block-end: 0;

    display: flex;
    flex-direction: row;
    align-items: center; 
    cursor: pointer; 
    border-radius: var(--fs-radius-sm);           
    
    svg {
      overflow: visible;
      aspect-ratio: 1 / 1;
    }
  }

.fs-input-checkbox-useModern {
  &.size-sm {
    .fs-input-checkbox-labelGroup {
      gap: var(--fs-spacing-xs);
    }
    .fs-input-checkbox-modern {
      svg { 
        width: calc( var(--fs-size-sm) * 1.25);
      }
    } 
    .fs-label {
      font-size: var(--fs-size-sm);
    }    
  }
  &.size-md {
    .fs-input-checkbox-labelGroup {
      gap: var(--fs-spacing-xs);
    }
    .fs-input-checkbox-modern {
      svg {
        width: calc( var(--fs-size-md) * 1.25);
      }   
    }     
  }
  &.size-lg {
    .fs-input-checkbox-labelGroup {
      gap: var(--fs-spacing-xs);
    }
    .fs-input-checkbox-modern {
      svg {
        width: calc( var(--fs-size-lg) * 1.25);
      }    
    }    
  }
  &.size-xl {
    .fs-input-checkbox-labelGroup {
      gap: var(--fs-spacing-sm);
    }
    .fs-input-checkbox-modern {
      svg {
        width: calc( var(--fs-size-xl) * 1.25);
      }   
    }     
  }
  &.size-2xl {
    .fs-input-checkbox-labelGroup {
      gap: var(--fs-spacing-md);
    }
    .fs-input-checkbox-modern {
      svg {
        width: calc( var(--fs-size-2xl) * 1.25);
      }  
    }      
  }
}





.fs-svg-hidden {
  #check-filled #check-filled-circle {
    border: 1px solid red;
    fill: var(--fs-color-text-primary);
  }
}