.fs-dialogue {
  background: radial-gradient(farthest-corner at 200% 0%, var(--fs-color-trueWhite), var(--fs-palette-lightest));
  padding: 7.5vh;
  color: var(--fs-color-text-primary);
  border-radius: 4px;
  overflow: hidden;  
}