.fs-interview-multipleSelect {
  width: 100%;
  max-width: 100%;
  padding-inline-start: var(--fs-spacing-2xs);

  .fs-interview-multipleSelect-reasons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--fs-spacing-xs);
    
    // max-width: 100%;

    .fs-dialogue-title {
      margin-block-start: 0;
    }

    label {
      margin-block-end: 0;
      margin-block-start: 0;
    }
    .fs-pill {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;

      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;

        & + span {
          padding: var(--fs-spacing-sm) var(--fs-spacing-md);
          margin: 0;
          margin-block-end: 0;
          border: 2px solid var(--fs-palette-light);
          border-radius: 4px;
          background: transparent;
          color: var(--fs-color-text-secondary);
          font-size: 1em;          
        }

        &:hover + span {
          background: var(--fs-color-action-hover);
        }

        &:focus + span {
          outline: 2px solid var(--fs-color-action-focus);
          //outline-offset: 2px;
        }

        &:checked + span {
          background: var(--fs-color-trueWhite);
          color: var(--fs-color-text-primary);
          border-color: var(--fs-color-action-brand);
        }
      }
    }
  }

}