@use "fs-variables" as *;

#fs-auth-signup,
#fs-auth-signin {
	max-width: $screen-sm;
	margin-inline: auto;

	.fs-panel-body,
	.fs-panel-actions,
	.fs-panel-footer {
		padding-inline: var(--fs-spacing-md);
		
	}

	.fs-panel-footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: end;
		gap: var(--fs-spacing-sm);

		padding-block-start: var(--fs-spacing-xl);
		font-size: var(--fs-size-sm);
	}
}

#fs-auth-signup,
#fs-auth-signin {
	.fs-btn-group {
		align-items: center;
	}
}