.fs-dialogue {
  background: radial-gradient(farthest-corner at 200% 0%, var(--fs-color-trueWhite), var(--fs-palette-lightest));
  padding: 7.5vh;
  color: var(--fs-color-text-primary);
  border-radius: 4px;
  overflow: hidden;  

  .fs-dialogue-welcome {
    margin-block-start: var(--fs-spacing-sm);
    margin-block-end: var(--fs-spacing-xs);
    color: var(--fs-color-text-tertiary);
    font-size: var(--fs-size-md);
    font-weight: 300;
  }
}