.fakesupermarket-logo svg {
	shape-rendering: crispEdges;
	position: relative;
}


.fs-dialogue {
  .fakesupermarket-logo {
    display: grid;
    align-content: start;
    justify-items: end;
    position: relative;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: var(--fs-logo-size-md);
      aspect-ratio: 1/1;
      overflow: visible;
    }  
  }  
}
