
.fs-recruitGroup {
	border: var(--fs-thickness-sm) solid var(--fs-color-border-default);

	summary {
		padding: var(--fs-spacing-sm);
		cursor: pointer;
		position: relative; 

		.fs-recruitGroup-summary-wrapper {
			display: inline-block;
			max-width: 75%;
		}
		.fs-recruitGroup-summary {
			display: flex;
			flex-direction: column;
			margin-inline-start: var(--fs-spacing-xs);
			position: relative;
		}
		h3 {
			margin-block-end: 0;
		}
		p {
			font-size: var(--fs-size-xs);
			color: var(--fs-color-text-tertiary);
		}
	}
	&:open > summary {
		background-color: var(--fs-color-core-050);
		h3 {
			font-weight: var(--fs-weight-regular);
		}
	}

	.fs-recruitGroup-panel {
		padding: var(--fs-spacing-sm);
		padding-block-end: var(--fs-spacing-sm);
		background: var(--fs-color-background-subtle);

		.fs-recruitGroup-wrapper {
			display: flex;
			flex-direction: row;
			@container recruitGroup (min-width: 500px) {
				gap: var(--fs-spacing-md);
			}
		}

		.fs-recruitGroup-items {
			container-type: inline-size;
		  container-name: recruitGroup;
		  width: 100%;
		  box-sizing: border-box;
		}

		.fs-recruitGroup-item {
			display: flex;
			padding-inline-start: var(--fs-spacing-2xs);
			border-radius: var(--fs-radius-sm);
			cursor: pointer;

			&:hover {
				background: var(--fs-color-white);
				z-index: 10;
				box-shadow: var(--fs-boxShadow-sm);
			}

			@container recruitGroup (max-width: 500px) {	
				border-block-end: var(--fs-thickness-sm) dotted var(--fs-color-border-light);
				margin-block-end: var(--fs-spacing-xs);
				padding-block-end: var(--fs-spacing-xs);
			}


				.fs-recruitGroup-item-swatch {
					flex-grow: 0;
					flex-shrink: 0;
					width: var(--fs-size-xl);
					height: var(--fs-size-xl);
					margin-block-start: var(--fs-spacing-2xs);
					border-radius: var(--fs-radius-sm);
				}
				.fs-recruitSegment {
					flex-grow: 1;
				}
			}

		.fs-recruitGroup-chart {
			border-radius: var(--fs-radius-sm);
			overflow: hidden;
		}
		.fs-recruitGroup-chart-swatch {
				display: block;
				width: var(--fs-size-2xl);
				height: 100%;
				transition: height 160ms ease;
		}

		.fs-btnGroup {
			display: none !important;
			margin-block-start: var(--fs-spacing-xs);
			padding-block-start: var(--fs-spacing-sm);
			border-block-start: var(--fs-thickness-sm) solid var(--fs-color-border-default);
		}
	}

.fs-chartColors {
	&[data-item-index] .fs-chartColor-item {
		opacity: 0.5;
		cursor: pointer;
	}
	&[data-item-index].is-pairedActive .fs-chartColor-item {
		opacity: 0.75;
	}

	&[data-item-index="1"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-1);
	}
	&[data-item-index="2"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-2);
	}
	&[data-item-index="3"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-3);
	}
	&[data-item-index="4"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-4);
	}
	&[data-item-index="5"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-5);
	}
	&[data-item-index="6"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-6);
	}
	&[data-item-index="7"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-7);
	}
	&[data-item-index="8"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-8);
	}
	&[data-item-index="9"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-9);
	}
	&[data-item-index="10"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-10);
	}
	&[data-item-index="11"] .fs-chartColor-item {
		background-color: var(--fs-color-chart-11);
	}	
}	
}

.fs-allRecruitGroups {
	display: flex;
	flex-direction: column;
	gap: var(--fs-spacing-md);
}