@use "variables" as *;

@forward 'fs-components/dashboard-cards';
@forward 'fs-components/dashboard-welcome';
@forward 'fs-components/dashboard-tasks';
@forward 'fs-components/dashboard-incentives';
@forward 'fs-components/dashboard-questions';
@forward 'fs-components/dashboard-walkthrough';

.dashboard.shoppers {
	background:  
    	// linear-gradient(127deg, var(--fs-color-core-500), transparent 90.71%),
    	// linear-gradient(336deg, var(--fs-color-bright-orange-middle), transparent 90.71%),
    	// linear-gradient(217deg, #F4F1b6, transparent 90.71%);
     	linear-gradient(127deg, var(--fs-color-white), transparent 90.71%),
    	linear-gradient(336deg, var(--fs-color-gray-025), transparent 90.71%),
    	linear-gradient(217deg, var(--fs-color-gray-300), transparent 90.71%);

	.fs-background {
		position: fixed;
		z-index: -1;
		width: 100vw;
		height: 100vh;
		mix-blend-mode: multiply;
		opacity: .2;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center right;
		}
	}
}

#shopperHeader {
	display: grid;
	grid-template-columns: 1fr auto;
	background: var(--fs-color-bright-green-light);
}

#shopperDashboard {

	#fs-shopper-welcome { grid-area: welcome; }
	#fs-tasks-header { grid-area: header; }
	#fs-shopper-tasks { grid-area: tasks; }
	#fs-shopper-secondary {grid-area: secondary; }
	#fs-shopper-secondary-spacer {grid-area: spacer; }
	#fs-shopper-incentives { grid-area: incentives; }
	#fs-shopper-questions { grid-area: questions; }
	#fs-dashboard-walkthrough { grid-area: walkthrough; }

	display: grid;
	row-gap: var(--fs-spacing-lg);
	column-gap: var(--fs-spacing-lg);
	align-content: start;
	align-items: start;
	grid-template-areas: 
		"welcome"
		"header"
		"tasks"
		"secondary";
	margin-block: 2.5vh;

	@media (min-width: 760px) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
			"welcome ."
			"header ."
			"tasks secondary";
		grid-template-rows: auto 1fr;
		align-items: start;
		margin-block: 5vh;		
	}
	@media (min-width: 1200px) {
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: var(--fs-spacing-2xl);
		grid-template-areas: 
			"welcome header ."
			". tasks secondary";
		align-items: start;
		margin-block: 5vh;
	}
}

#fs-shopper-secondary {
	display: grid;
	grid-gap: var(--fs-spacing-md);
	grid-template-areas:
		"incentives"
		"questions"
		"walkthrough";
	grid-template-rows: auto auto auto auto;
	align-content: start;		
}

#shopperDashboard {
	min-height: 100vh;	
}

// #fs-shopper-secondary-spacer {
// 	font-size: var(--fs-size-3xl);
// 	height: calc(var(--fs-size-3xl) * 1.25 + var(--fs-size-md) + var(--fs-spacing-xs));
// }
