@use "variables" as *;

@forward 'fs-components/layout-header-siteroot'; 
@forward 'fs-components/layout-header-participants'; 
@forward 'fs-components/layout-header-shoppers'; 
@forward 'fs-components/layout-header-research'; 

@forward 'fs-components/auth-siteroot-overlay'; 
@forward 'fs-components/auth-signin-overlay'; 
@forward 'fs-components/auth-signup-overlay'; 
@forward 'fs-components/auth-profile_settings-overlay'; 
@forward 'fs-components/auth-client_settings-overlay'; 
@forward 'fs-components/auth-end_early-overlay'; 

.fs-header {
	position: relative;
	background: var(--fs-color-background-active);
	padding-block: var(--fs-spacing-xs);
	padding-inline: var(--fs-spacing-sm);
	box-shadow: 
		var(--fs-boxShadow-sm),
		var(--fs-boxShadow-md);

	#nav-main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
		width: 100%;
		max-width: $screen-xl;	
	}
	#site-logo {
		display: flex;
		position: relative;
		svg {
			// position: absolute;
			// top: calc((var(--fs-spacing-md) + var(--fs-spacing-xs)) * -1);
			width: var(--fs-logo-size-sm);
			height: var(--fs-logo-size-sm);
			// transform: rotate(-4deg);
		}
	}

	.header-expanded {
		.fs-btn {
			padding-inline: var(--fs-spacing-sm);
		}
		
	}
}


