@use "variables" as *;

// Reset and container basics
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
	max-width: #{$screen-xl};
	margin: 0 auto;
	// overflow-x: hidden;
}



