@use "fs-variables" as *;

%hover {
  color: var(--hover); 
  text-decoration: underline;
}

html {
	font-family: var(--font-sans);
	font-size: var(--size-sm);
	font-weight: var(--weight-light);
	
	@media (min-width: #{$screen-sm}) {
		font-size: var(--size-md);
	}
	@media (min-width: #{$screen-xl}) {
		font-size: var(--size-md);
	}	
}

p {
	margin-top: 0;
	margin-bottom: 0;
	width: clamp(150px, 100%, var(--screen-sm));
	strong {
		font-weight: var(--weight-regular);
	}

	&.disclaimer {
		font-size: var(--size-xs);
	}
}

a {
	color: var(--link);
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: auto;

  &:hover {
    color: var(--hover);
    text-underline-offset: var(--spacing-xxs);
  }
  &:focus {
  	background-color: var(--focus);
  	outline: var(--thickness-md) solid var(--focus);
  	outline-offset: var(--thickness-none);
  }
}


h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	
	font-weight: var(--weight-light);
	line-height: 1;

	a:focus {
		outline-width: var(--thickness-lg);
	}

	strong {
		font-weight: var(--weight-regular);
	}
}
h1, h2, h3 {
	margin-bottom: var(--spacing-md);
}
h4, h5, h6 {
	margin-bottom: 0;
}


footer h2.heading {
	color: var(--footer-heading-color);
}

.display {
  font-family: var(--font-display);
  font-size: 0.92em;
}

.text-4xl {
	font-size: var(--size-5xl);
}

.text-3xl {
	font-size: calc(var(--size-3xl) * 0.9);
	@media (min-width: #{$screen-sm}) {
		font-size: var(--size-3xl);	
	}
}

.text-2xl {
	font-size: calc(var(--size-2xl) * 0.9);
	@media (min-width: #{$screen-sm}) {
		font-size: var(--size-2xl);	
	}
}

.text-xl {
	font-size: calc(var(--size-xl) * 0.9);
	@media (min-width: #{$screen-sm}) {
		font-size: var(--size-xl);	
	}
}

.text-lg {
	font-size: var(--size-lg);
}

.text-md {
	font-size: var(--size-md);
}

.text-sm {
	font-size: var(--size-sm);
}
.text-xs {
	font-size: var(--size-xs);
} 

ul, ol, menu {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: var(--leading-lg);
  }
  &.bullets {
  	margin-left: var(--spacing-md);
  	li {
  		list-style: circle;
  	}
  	ul {
  		margin-left: 2.5vw;
  		li {
  			margin-top: var(--spacing-2xs);
  		}
  	}
  }
  &.numbers {
  	margin-left: var(--spacing-md);
  	li {
  		list-style: decimal;
  	}  	
  }

  & + p {
  	margin-top: var(--leading-md);
  }
} 


.strikethrough {
	text-decoration: line-through;
}

sup {
	filter: opacity(0.5);
	&:hover,
	&:focus {
		filter: opacity(1);
	}
}

.no-break {
	white-space: nowrap;
}

