// The site's URL is defined in _data/site.json

$size-sm: 14px;
$size-base: 16px;
$size-lg: 18px;

$screen-2xs: 300px;
$screen-xs: 400px;
$screen-sm: 500px;
$screen-md: 750px;
$screen-lg: 1200px;
$screen-xl: 1600px;

:root {
  // --palette-beer: hsla(33, 89%, 51%, 1);
  // --palette-creamBlush: hsla(28, 77%, 77%, 1);
  // --palette-fieryGlow: hsla(16, 89%, 53%, 1);
  // --palette-crisisRed: hsla(5, 75%, 42%, 1);
  // --palette-charcoalNero: hsla(39, 3%, 14%, 1);

  /* Neutral colors */
  --color-black: #000000;
  --color-white: #FFFFFF;
  
  /* Design system palette spectrum */
  --color-core-900: #280B0E;
  --color-core-800: #701C33;
  --color-core-700: #A72347;
  --color-core-600: #D92958;
  --color-core-500: #E96286;
  --color-core-400: #EC93A8;
  --color-core-300: #F5BCC7;
  --color-core-200: #FAD1D1;
  --color-core-100: #FCE8E8;
  --color-core-050: #FEF6F6;

  --color-bright-tan-light: #E6D2C1;
  --color-bright-tan-middle: #D8B99E;
  --color-bright-tan-dark: #C5966D;
  --color-bright-pink-light: #EC93CD;
  --color-bright-pink-middle: #E467B8;
  --color-bright-pink-dark: #D742A3;
  --color-bright-orange-light: #F9A186;
  --color-bright-orange-middle: #F67B55;
  --color-bright-orange-dark: #EB6E47;
  --color-bright-yellow-light: #FFE580;
  --color-bright-yellow-middle: #FFD52E;
  --color-bright-yellow-dark: #ECC013;
  --color-bright-green-light: #9CE68E;
  --color-bright-green-middle: #59D543;
  --color-bright-green-dark: #40BC2A;
  --color-bright-sky-light: #80DEFF;
  --color-bright-sky-middle: #42CEFF;
  --color-bright-sky-dark: #00BDFF;
  --color-bright-cloud-light: #546F78;
  --color-bright-cloud-middle: #496169;
  --color-bright-cloud-dark: #3E5259;

  --color-gray-900: #1C1718;
  --color-gray-800: #433D3E;
  --color-gray-700: #635A5C;
  --color-gray-600: #817478;
  --color-gray-500: #9E9497;
  --color-gray-400: #B6AFB1;
  --color-gray-300: #CECACB;
  --color-gray-200: #E4E2E3;
  --color-gray-100: #F0EFF0;
  --color-gray-050: #F8F7F7;


  --color-shadow-light: hsla(344, 11%, 37%, 0.2);
  --color-shadow-medium: hsla(344, 11%, 25%, 0.25);
  --color-shadow-dark: hsla(344, 11%, 10%, 0.3);

  --color-backdrop-default: hsla(35, 0%, 22%, 0.75);


  /* Semantic color aliases */
  --color-brand-primary: var(--color-core-600);
  --color-brand-secondary: var(--color-bright-cloud-middle);

  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-800);
  --color-text-tertiary: var(--color-gray-600);
  
  --color-background-subtle: var(--color-gray-050);
  --color-background-default: var(--color-white);
  --color-background-emphasized: var(--color-core-200);

  --color-background-page: var(--color-white);
  --color-background-header: var(--color-white);
  --color-background-footer: var(--color-background-subtle);

  --color-border-light: var(--color-gray-100);
  --color-border-default: var(--color-gray-200);
  --color-border-strong: var(--color-gray-500);

  --color-panel-light: var(--color-gray-050);
  --color-panel-default: var(--color-gray-100);
  --color-panel-strong: var(--color-grays-200);

  --color-action-primary-default: var(--color-core-600);
  --color-action-primary-font: var(--color-white);
  --color-action-primary-hover: var(--color-bright-orange-middle);
  --color-action-primary-active: var(--color-core-700);

  --color-action-secondary-default: var(--color-core-300);
  --color-action-secondary-font: var(--color-text-secondary);
  --color-action-secondary-hover: var(--color-core-400);
  --color-action-secondary-active: var(--color-core-500);

  --color-action-tertiary-default: transparent;
  --color-action-tertiary-font: var(--color-text-secondary);
  --color-action-tertiary-hover: var(--color-core-300);
  --color-action-tertiary-active: var(--color-core-400);

  --color-action-disabled-default: var(--color-gray-200);
  --color-action-disabled-font: var(--color-text-tertiary);

  --color-action-hover: var(--color-core-600);
  --color-action-pressed: var(--color-gray-700);
  --color-action-brand: var(--color-bright-cloud-middle);  
  
  --color-focus-ring: var(--color-bright-yellow-middle);

  --color-link: var(--color-core--700);
  --color-link-hover: var(--color-core--800); 
  --color-link-active: var(--color-core--900);
  --color-link-visited: hsla(348, 45%, 38%, 1);
  --color-link-focus-ring: hsla(348, 68%, 51%, 0.6);

  --font-display: "Abalos";
  --font-sans: Outfit, Helvetica, Calibri, sans-serif;

  --height-section-sm: 45vh;
  --height-section-md: 66vh;
  --height-section-lg: 90vh;

  --height-verticalRhythm-xs: 5vh;
  --height-verticalRhythm-sm: 10vh;
  --height-verticalRhythm-md: 15vh;
  --height-verticalRhythm-lg: 20vh;

  --spacing-none: 0;
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs: 8px;  
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;

  --thickness-none: 0;
  --thickness-sm: 1px;
  --thickness-md: 2px;
  --thickness-lg: 4px;
  --thickness-xl: 8px;

  --size-xs: 0.8rem;
  --size-sm: 0.9rem;
  --size-md: 1rem;
  --size-lg: 1.2rem;  
  --size-xl: 1.6rem;     
  --size-2xl: 2.2rem;    
  --size-3xl: 3.15rem;
  --size-4xl: 4.2rem;
  --size-5xl: 5.6rem;

  --leading-sm: 0.875;
  --leading-md: 1;
  --leading-lg: 1.25em;
  --leading-xl: 1.5em;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  --blur-sm: 1px;
  --blur-md: 2.5px;
  --blur-lg: 5px;
  --blur-xl: 10px;

  --boxShadow-xs: 0 var(--spacing-3xs) var(--blur-md) var(--color-shadow-light);
  --boxShadow-sm: 0 var(--spacing-3xs) var(--blur-lg) var(--color-shadow-light);
  --boxShadow-md: 0 var(--spacing-2xs) var(--blur-xl) var(--color-shadow-medium);

  --transition-sm: all 0.15s ease;
  --transition-md: all 0.3s ease;
  --transition-lg: all 0.6s ease;

  --weight-light: 200;
  --weight-regular: 300;
  --weight-bold: 500;
  --weight-heavy: 600;

}

