<header id="site-header">
  <div class="container">
    <nav id="nav-main" >
      <a href="pages/{{ storefront.slug }}/#" id="site-logo">
        {{ storefront.storefrontNameHTML | safe }}
      </a>       
    </nav>
  </div>
</header>
