{% if storefront.bannerAd %}
<div disabled class="banner-ad fs-unavailable">
  <a class="banner-link">
    <img 
      src="/pages/{{ storefront.slug }}/{{ storefront.bannerAd.url }}" 
      alt="{{ storefront.bannerAd.alt }}" 
      class="banner-image"
      {% if storefront.bannerAd.width %}width="{{ storefront.annerAd.width }}"{% endif %}
      {% if storefront.bannerAd.height %}height="{{ storefront.bannerAd.height }}"{% endif %}
    >
  </a>
</div>
{% endif %}