<aside id="cart-overlay" hidden role="dialog" aria-modal="true" aria-labelledby="cart-overlay-title" tabindex="-1">
  <header id="cart-overlay-header">
    <h2 id="cart-overlay-title">Cart <span id="cart-overlay-tally" ></span></h2>
    <button id="cart-overlay-btn-close" class="btn btn-icon" aria-label="Close cart" type="button">
      {%  include "partials/icon-x.njk" %}
    </button>
  </header>

  <section id="cart-summary" aria-label="A list of your shopping cart's contents">
    <div hidden id="cart-summary-products">
        <div class="wrapper">
          <ul id="cart-summary-products-list">
          </ul>
        </div>
    </div>
    {% include "partials/cartSummary-empty.njk" %}
  </section>

  <section id="cart-summary-subtotal">
    <dl class="cart-summary-row table">
      <dt class="cart-summary-label">Subtotal</dt>
      <dd id="cart-summary-subtotal-amount" class="cart-summary-amount numeric">$0.00</dd>
    </dl>
    {# <small class="cart-summary-hint">Excluding service fees</small> #}
  </section>
  <footer id="cart-overlay-footer">
    <div class="cart-primary-actions">
      <a hidden id="cart-overlay-btn-checkout" href="/pages/{{ storefront.slug }}/checkout.html" class="btn btn-primary">Checkout</a>
      <a href="/pages/{{ storefront.slug }}/index.html" class="btn btn-tertiary" id="cart-continue-shopping">Continue shopping</a>
    </div>

  </footer>
</aside>