<div id="cart-summary-products-empty">
  <div class="wrapper">
    <h3 class="text-primary">Your cart is empty</h3>
    <a href="/pages/{{ storefront.slug }}/index.html" class="btn btn-tertiary">Continue shopping to add items</a>
    <p>---</p>
    <p>Note to self: Also add a FS 'end session' button here, too</p>
  </div>
</div>