	<h2 class="step-heading" id="paymentFlow-orderSummary-heading">Order summary</h2>

	<div disabled id="paymentFlow-discountsAndVouchers" class="fs-unavailable">
		<label for="paymentFlow-input-discount">Promo code</label>
		<input id="paymentFlow-input-discount" type="text"/>
		<button class="btn btn-secondary">Apply</button>
	</div>

	<hr>

	<div id="paymentFlow-subTotal" class="">
		<dl class="table">
			<dt class="emphasis">Your cart</dt>
			<dd id="cart-summary-subtotal-amount" class="emphasis numeric"></dd>
			<dt>Paper bags</dt><dd class="numeric">$1.50</dd>
			<dt>Collect from store</dt><dd class="numeric">$0.00</dd>
		</dl>
	</div>

	<hr>

	<div class="wrapper">
		<dl class="table" id="paymentFlow-totalAmt">
			<dt class="emphasis"><span class="text-lg">Total</span> (inc GST)</dt><dd class="emphasis numeric"><span id="cart-summary-subtotal-amount" class="text-lg"></span></dd>
		</dl>
		<dl class="table" id="paymentFlow-totalSavings">
			<dt>Your savings</dt><dd class="numeric"><div class="badge badge-positive"><span id="paymentFlow-totalSavings-calculation">$3.24</span> savings</div></dd>
		</dl>
	</div>

	<div id="paymentFlow-disclaimer">
		<p disabled class="disclaimer fs-unavailable">Right now, prices and savings shown are estimates only. While you may see a pending payment in your bank account, we'll only charge you the final amount once your order is packed. More on pending payments.</p>
	</div>

	<div id="paymentFlow-customerAgreement">
		<p disabled class="fs-unavailable">By placing the order, you confirm that you have read and agree to the <a href="#">Customer Agreement</a>.</p>
	</div>

	<div hidden id="paymentFlow-preflight" >
		<p>Help us get your order correct. Complete these steps:</p>
		<ol>
			<li>Cart</li>
			<li>Delivery</li>
			<li>Payment</li>
		</ol>
	</div>

	<div id="paymentFlow-CTA">
		<a href="pages/{{ storefront.slug }}/confirmation.html" id="paymentFlow-CTA-placeOrder" class="btn btn-primary">Place (fake) order</a>
	</div>

	<div id="paymentFlow-postScript" class="fs-panel">
		<p>Once you place your (fake) order, you'll be asked a few questions about the product/s you selected.</p> 
	</div>
