<footer id="site-footer">
  <div id="footer-branding" class="row">
    <div class="wrapper">
      <span id="footer-logo">
        <h3>{{ storefront.storefrontName | safe }}</h3>
      </span>
      <a href="pages/{{ storefront.slug }}/#top" class="btn btn-tertiary">Back to top</a>
    </div>
  </div>
  <div id="footer-nav" class="row">
    <div class="wrapper">
      {% include "partials/fs-footerReminder.njk" %}
      <div disabled class="fs-unavailable footer-column">
        <h3 class="footer-heading">Customer service and support</h3>
        <ul class="footer-links nav-list">
          <li class="nav-item"><a>Help & FAQs</a></li>
          <li class="nav-item"><a>Contact us</a></li>
          <li class="nav-item"><a>Feedback</a></li>
          <li class="nav-item"><a>Product recalls</a></li>
          <li class="nav-item"><a>Returns & refunds</a></li>
          <li class="nav-item"><a>Scam alerts</a></li>
          <li class="nav-item"><a>Accessibility information</a></li>
        </ul>
      </div>
      
      <div disabled class="fs-unavailable footer-column">
        <h3 class="footer-heading">Shopping</h3>
        <ul class="footer-links nav-list">
          <li class="nav-item"><a>Track my order</a></li>
          <li class="nav-item"><a>Delivery options</a></li>
          <li class="nav-item"><a>Click & Collect</a></li>
          <li class="nav-item"><a>Delivery Saver Pass</a></li>
          <li class="nav-item"><a>Fake Supermarket app</a></li>
          <li class="nav-item"><a>New to online shopping?</a></li>
          <li class="nav-item"><a>Shop for your business</a></li>
          <li class="nav-item"><a>Fake Flowers</a></li>
        </ul>
      </div>
      
      <div disabled class="fs-unavailable footer-column">
        <h3 class="footer-heading">Contact</h3>
        <ul class="footer-info nav-list">
          <li class="nav-item"><a>Careers</a></li>
          <li class="nav-item"><a>Why choose us?</a></li>
          <li class="nav-item"><a>Our brands</a></li>
          <li class="nav-item"><a>Community donations</a></li>
          <li class="nav-item"><a>Vendor information</a></li>
          <li class="nav-item"><a>Become an affiliate</a></li>
          <li class="nav-item"><a>Corporate responsibility</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="footer-acknowledgements" class="row">
    <div class="wrapper">
      <div id="country" class="footer-column">
        <h3 class="footer-heading">Acknowledgement of country</h3>
        <p>Fake Supermarket has its headquarters on the lands of the Giabal people.</p><p>As such, we wish to acknowledge the Traditional Custodians of the Toowoomba region whose song lines traverse our lands and pay our respect to Elders past, present and emerging, for they hold the knowledge, rich traditions and culture of Australia's First Peoples. We also acknowledge the traditional owners of lands across Australia and the world which were unjustly colonised.</p>
        <p><strong>Always was. Always will be.</strong></p>
      </div>
      <div id="accessibility" class="footer-column">
        <h3 class="footer-heading">Accessibility and inclusion</h3>
        <p>Fake Supermarket aims to provide inclusive access for research participants with disabilities.</p>
        <a href="#" target="_blank">Help us do better <span class="sr-only">– This link will open in a new tab; it links to a Fake Supermarket prioritisation service.</span></a>
      </div>      
    </div>
  </div>

  <div id="footer-tail" class="row">
    <div class="wrapper">
      <p>&copy; {% year %} Fake Supermarket. All rights reserved. <a href="#">Privacy Policy</a></p>
    </div>
  </div>  
</footer>