<div class="fs-completionGroup-chart-item fs-chartColors" data-item-id="{{ item.slug }}" data-item-index="{{ loop.index }}" data-status="" >
	<div class="fs-completionGroup-chart-item-height">
		<progress value="{{ item.completedCount }}" aria-label="{{ item.label }}" max="{{ item.targetCount }}" class="fs-completionGroup-chart-progress fs-chartColor-item"></progress>
	</div>
</div>