<div id="fs-endEarly" class="fs-dialogue fs-dialogue-xs fs-dialogue-inline">
	<div class="fs-dialogue-outer">
		<div class="fakesupermarket-logo">
			{% include "partials/logo/fakesupermarket-roundel.njk" %}
		</div>
		<div class="fs-dialogue-inner">
			<div class="fs-dialogue-content">
				<h3 class="fs-dialogue-title">Not seeing anything you'd buy?</h3>
				<p class="fs-dialogue-text">That's totally fine. You can finish the session early.</p> 
			</div>
			<div class="fs-dialogue-actions">
				<a class="fs-btn fs-btn-primary">Finish early</a>
			</div>
		</div>
	</div>
</div>