<div id="fs-interview" aria-label="A short interview about your (fake) purchases">
	
	<!-- FS logo -->

	<div class="container">
	
		<h1>You bought this...</h1>

		<div id="fs-interview-product" aria-labelledBy="">
<li class="cart-item-product" id="cart-item-product-6022648" aria-labelledby="product-6022648">
    <div class="cart-item-thumbnail">
      <img src="pages/meat/luv-a-duck-thai-red-duck-curry-1.jpg" alt="Luv-A-Duck Thai Red Duck Curry" width="200" height="200" loading="lazy" fetchpriority="low">
    </div>
    <div class="cart-item-details">
      <div class="cart-item-headline">
        <h3 id="product-6022648" class="cart-item-headline-productName">
          <a href="/product/luv-a-duck-thai-red-duck-curry">Luv-A-Duck Thai Red Duck Curry</a>
        </h3>
      </div>
      <div class="cart-item-pricing">
          <div class="cart-item-pricing-savings">
            <div class="badge badge-positive">Save $2.25</div>
          </div>
          <div class="cart-item-pricing-rrp">
            <span>Was $16.50</span>
          </div>
      </div>
      <div class="cart-item-subtotal">$14.25</div>
    </div>
  </li>	

		</div>

		<form>
			
			<label>Why did you choose it?</label>
			

		</form>

	</div>	
</div>