<div id="fs-taskReminder" class="fs-dialogue fs-taskReminder">
	<div class="fs-dialogue-outer">

		<div class="fakesupermarket-logo">
			{% set logoId = "footerReminder" %}
			{% include "partials/logo/fakesupermarket-logo.njk" %}
		</div>

		<div class="fs-dialogue-inner">
			<div class="fs-dialogue-content">
				<h3 class="fs-dialogue-title">{{ storefront.study.task.instructionTitle | safe }}</h3>
        {% if storefront.study.task.instructionDetail %}
          <ul class="fs-dialogue-text researchPrompt-detail">
            {% for item in storefront.study.task.instructionDetail %}
              <li>{{ item | safe }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="fs-dialogue-actions fs-btn-group">             
    		<a href="#" class="fs-btn btn-secondary btn-sm" target="_blank">Show a walkthrough</a>
			</div>
		</div>
	</div>
</div>