<div id="fs-unavailableOptions" class="fs-dialogue fs-dialogue-xs fs-dialogue-inline">
	<div class="fs-dialogue-outer">
		<div class="fakesupermarket-logo">
			{% include "partials/logo/fakesupermarket-roundel.njk" %}
		</div>
		<div class="fs-dialogue-inner">
			<div class="fs-dialogue-content">
				<h3 class="fs-dialogue-title">No details needed this time</h3>
				<p class="fs-dialogue-text">We've filled this section with dummy data, to keep your privacy protected. <br/>Hit the <strong>Yes, this is correct</strong> button below to continue.</p> 
			</div>
		</div>
	</div>
</div>