{% set componentName = "participants" %}
<header id="header-{{ componentName }}" class="fs-header">
  <div class="container">
    <nav id="nav-main" >
      <a href="/pages/{{ storefront.slug }}/#" id="site-logo">
        <svg class="fs-logo-symbol" viewBox="0 0 228 228" aria-hidden="true">
          <use href="#fs-logo"></use>
        </svg>        
      </a> 

      <div id="header-main-actions" aria-hidden="true"></div>
      <div id="header-cart" aria-hidden="true"></div>        
      <div id="header-auth">

        <div class="header-expanded">
          <button commandfor="auth-dialog-join" command="show-modal" aria-label="Open the site menu" class="btn btn-primary" id="auth-btn-join" type="button">
            <span class="label">Sign up today</span>
          </button>
        </div>
      </div>        
    </nav>
  </div>
</header>

{% include "partials/fs-components/fs-auth-dialog-join.njk" %}