{% set pageName = "clients" %}
{% set componentName = "client_settings" %}
{% set logoDescription = "Fake Supermarket logo" %}

<header id="header-{{ pageName }}" class="fs-header">
  <div class="container">
    <nav id="nav-main" >

      <a title="{{ logoDescription }}" href="/pages/{{ storefront.slug }}/#" id="site-logo">
        <svg class="fs-logo-symbol" viewBox="0 0 228 228" aria-hidden="true">
          <use href="#fs-logo"></use>
        </svg>        
      </a> 

      {# <div id="header-main-actions" aria-hidden="true"></div>
      <div id="header-cart" aria-hidden="true"></div> #} 

      <div id="header-{{ pageName }}-auth">
        <div class="header-expanded">
          <div class="fs-btn-group">
            <button commandfor="auth-{{ componentName }}-overlay" command="show-modal" aria-label="Open the My Account menu" id="auth-{{ componentName }}-menu-btn" type="button" class="fs-btn btn-identityAvatar">
              <span class="icon">DG</span>
              <span class="label">Dan<span class="label-extra">Profile + settings</span></span>
            </button>
          </div>
        </div>
      </div> 

    </nav>
  </div>
</header>

{% include "partials/fs-components/fs-auth-dialog-client_settings.njk" %}