<nav id="skiplinks" aria-label="Skip links">
    <a href="#main" class="skiplink">Skip to content</a>
    <a href="#site-navigation" class="skiplink">Skip to navigation</a>
    {# Generate a table-of-contents for remainder of page #}
</nav>