<template id="icon-x">
  {% include "partials/icons/x.njk" %}
</template>

<template id="icon-minus">
  {% include "partials/icons/minus.njk" %}
</template>

<template id="icon-plus">
  {% include "partials/icons/plus.njk" %}
</template>


<script>
  function cloneIconTemplate(id) {
    const tpl = document.getElementById(id);
    return tpl?.content.cloneNode(true) || document.createTextNode('');
  }
</script>